<div class="paginationBar clearfix">
  <div class="sortnav paginate">
    <%= will_paginate @items %>
  </div>
  <ul class="sortnav" id="sort" style="float:left; width:200px;">
    <li class="label"><%= t(:sort_by) %> :</li>
    <li class="active"><a href="#" class="module-link AZsort"><%= t(:az_sort) %><span class="up"></span></a></li>
    <li><a href="#" class="module-link dateSort"><%= t(:date) %><span></span></a></li>
  </ul>
  <ul class="sortnav" id="viewMode" style="float:left">
    <li class="label"><%= t(:view_mode) %> </li>
    <li class="active"><a href="collection.html" class="module-link"><%= t(:list_view) %></a></li>
    <li><a href="collection_grid.html" class="module-link"><%= t(:grid_view) %></a></li>
    <li><a href="collection_slideshow.html" class="module-link"><%= t(:slideshow) %></a></li>
  </ul>
</div> 