<% @page_description = t(:detail_description) -%>
<% @page_title = t(:detail).capitalize -%>
<div id="browser" class="clearfix singleItemBrowser">
  <div id="head">
    <h2><%= @item.title %></h2>
    <ul class="itemTools sortnav">
      <li><a href="#" class="module-link share">Share</a></li>
      <li><a href="collections.html" class="module-link">Back to Collections</a></li>
      <li><a href="singleItem.html" class="module-link">&laquo;Previous Item</a></li>
      <li><a href="singleItem.html" class="module-link"> Next Item &raquo;</a></li>
    </ul>
  </div>
  <div id="browserContent" class="clearfix">
    <div id="itemImage">
      <div align="center" id="zoomify_pane">
        <object width="100%" height="500" name="zoomify" id="zoomify_swf" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="visibility: visible;">
          <param value="http://www.explorethomascole.org/images/zoomify_fullscreen.swf" name="movie"/>
          <param value="#CCCCCC" name="bgcolor"/>
          <param value="true" name="allowFullScreen"/>
          <param value="zoomifyImagePath=http://library.explorethomascole.org/zoomify/it_12&amp;zoomifyToolbarLogo=0&amp;zoomifySplashScreen=0&amp;zoomifyToolbarVisible=1&amp;zoomifyNavigatorVisible=0" name="flashvars"/>
          <!--[if !IE ]>-->
          <object width="100%" height="500" data="http://www.explorethomascole.org/images/zoomify_fullscreen.swf" type="application/x-shockwave-flash">
            <param value="#CCCCCC" name="bgcolor"/>
            <param value="true" name="allowFullScreen"/>
            <param value="zoomifyImagePath=http://library.explorethomascole.org/zoomify/it_12&amp;zoomifyToolbarLogo=0&amp;zoomifySplashScreen=0&amp;zoomifyToolbarVisible=1&amp;zoomifyNavigatorVisible=0" name="flashvars"/>
            <!--<![endif]-->
            <div>
              <img height="500" title="Kaaterskill Falls" src="http://library.explorethomascole.org/preview/it_12.jpg" alt="Kaaterskill Falls"/>
              <blockquote>NOTE: Because javascript is not enabled on this browser or Flash Player 9.28 or greater is not installed, <br/>
                we are only able to show a simple preview image. Please <a target="_blank" href="http://get.adobe.com/flashplayer/">install Flash from Adobe.com</a> <br/>
                and/or follow <a target="_blank" href="http://www.google.com/support/bin/answer.py?answer=23852">Google's online instructions</a> to enable Javascript for your browser.</blockquote>
            </div>
            <!--[if !IE]>-->
          </object>
          <!--<![endif]-->
        </object>
      </div>
    </div>
    <div id="itemDetails">
      <table  class="styled">
        <% unless @item.collection.blank? %>
        <tr>
          <th><%= t(:collection).capitalize %> </th>
          <td>Agha Khan Collection</td>
        </tr>
        <% end %>
        <% unless @item.show_date.blank? %>
        <tr class="odd">
          <th><%= t(:date).capitalize %> </th>
          <td><%= @item.show_date %></td>
        </tr>
        <% end %>
        <% unless @item.place.blank? %>
        <tr>
          <th><%= t(:location).capitalize %></th>
          <td><%= @item.place.name %> </td>
        </tr>
        <% end %>
        <tr class="odd">
          <th>Dimensions</th>
          <td>10" x 11"</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>Painting</td>
        </tr>
      </table>
      <h3>Description</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet nunc at tortor congue malesuada. Duis ornare blandit risus, id aliquet sem feugiat eget. Phasellus convallis euismod massa non adipiscing. Vestibulum commodo leo ut libero sagittis imperdiet. Phasellus quis nisi lacus. Integer dolor augue, condimentum eu sollicitudin non, pharetra interdum magna.</p>






    </div>
  </div>
</div> <!-- end browser --><!-- end featured -->