<% @page_description = t(:edit_description) -%>
<% @page_title = t(:collections).capitalize + ' | ' + t(:edit).capitalize -%>

<div id="staticContent" class="clearfix">

  <h1><%= @page_title %></h1>

  <p><%= link_to 'Show', @collection %> | <%= link_to 'Back', collections_path %></p>

  <%= render 'form' %>

  <p><%= link_to 'Show', @collection %> | <%= link_to 'Back', collections_path %></p>

</div>