<% @page_description = t(:collections_description) -%>
<% @page_title = t(:collections).capitalize -%>
<div id="browser" class="clearfix"> 
  <div id="head"> 
    <h2><%= t(:collection_browser) %></h2>
    <ul class="types sortnav">
      <li><%= t(:show) %>:</li>
      <li class="active"><a href="#" id="allItems" class="module-link active"><%= t(:all_items) %></a></li>
      <li><a href="#"  id="myItems" class="module-link"><%= t(:my_items) %></a></li>
    </ul>
  </div> 
  <div id="browserFilters" class="clearfix">
    <div class="column">
      <h4><%= t(:medium) %>  </h4>
      <%= form_tag({:action => 'index', :page => 1}, :method => 'get', :name => 'medium_form') do -%>
        <select id="mediumFilter" name="medium_filter" onChange="document.forms['medium_form'].submit()">
          <option value="all" <%= raw 'selected="selected"' if @medium_filter.nil? || @medium_filter== 'all' -%>><%= t(:all).capitalize %></option>
          <% @categories.each do |category| -%>
            <option value="<%= category.id %>"<%= raw ' selected="selected"' if @medium_filter==category.id.to_s -%>><%= raw category.parent_id != category.id ? '&ndash; ' : '' -%><%= truncate(category.name, :length => 20) %></option>
          <% end -%>
          <option value="more"><%= t(:more_categories) %></option>
        </select>
      <% end %>
    </div>
    <div class="column">
      <h4><%= t(:collection) %></h4>
      <%= form_tag({:action => 'index', :page => 1}, :method => 'get', :name => 'collection_form') do -%>
        <select id="collectionFilter" name="collection_filter"  onChange="document.forms['collection_form'].submit()">
          <option value="all" <%= raw 'selected="selected"' if @collection_filter.nil? || @collection_filter== 'all' -%>><%= t(:all).capitalize %></option>
          <% @collections.each do |collection| -%>
            <option value="<%= collection.id %>"<%= raw ' selected="selected"' if @collection_filter==collection.id.to_s -%>><%= truncate(collection.name, :length => 20) %></option>
          <% end -%>
          <option value="more"><%= t(:more_collections) %></option>
        </select>
      <% end %>
    </div>
    <div class="column">
      <h4><%= t(:name) %></h4>
      <%= form_tag({:action => 'index', :page => 1}, :method => 'get', :name => 'person_form') do -%>
        <select id="nameFilter" name="person_filter"  onChange="document.forms['person_form'].submit()">
          <option value="all"<%= raw ' selected="selected"' if @person_filter.nil? || @person_filter== 'all' -%>><%= t(:all).capitalize %> </option>
          <% @people.each do |person| -%>
            <% if person.major %>
              <option value="<%= person.id %>"<%= raw ' selected="selected"' if @person_filter==person.id.to_s -%>><%= truncate(person.name, :length => 20) %></option>
            <% end -%>
          <% end -%>
          <option value="more"><%= t(:more_names) %></option>
        </select>
      <% end %>
    </div>
    <div class="column">
      <h4><%= t(:subject) %></h4>
      <%= form_tag({:action => 'index', :page => 1}, :method => 'get', :name => 'subject_form') do -%>
        <select id="subjectFilter" name="subject_filter" onChange="document.forms['subject_form'].submit()">
          <option value="all"<%= raw ' selected="selected"' if @subject_filter.nil? || @subject_filter == 'all' -%>><%= t(:all).capitalize %> </option>
          <% @subjects.each do |subject| -%>
            <% if subject.major %>
              <option value="<%= subject.id %>"<%= raw ' selected="selected"' if @subject_filter==subject.id.to_s -%>><%= truncate(subject.name, :length => 20) %></option>
            <% end -%>
          <% end -%>
          <option value="more"><%= t(:more_subjects) %></option>
        </select>
      <% end -%>
    </div>
    <div class="column">
      <h4><%= t(:period) %></h4>
      <%= form_tag({:action => 'index', :page => 1}, :method => 'get', :name => 'period_form') do -%>
        <select id="periodFilter" name="period_filter"  onChange="document.forms['period_form'].submit()">
          <option value="all"<%= raw ' selected="selected"' if @period_filter.nil? || @period_filter== 'all' -%>><%= t(:all).capitalize %> </option>
          <% @periods.each do |period| -%>
            <option value="<%= period.id %>"<%= raw ' selected="selected"' if @period_filter==period.id.to_s -%>><%= truncate(period.title, :length => 20) %></option>
          <% end -%>
        </select>
      <% end %>
    </div>
  </div>
  <div id="browserMessage">
    <p>
      <% if @items.empty? -%>
        <%= t(:no_records_found) -%>
      <% else -%>
        <%= "#{t(:results_prefix)}: #{(@items.offset + 1).to_s} - #{(@items.offset + @items.per_page).to_s} | #{@items.total_entries.to_s}" %>
      <% end -%>
    </p>
  </div>
  <div id="browserContent" class="clearfix">

    <%= render :partial => 'pagination_bar' %>

    <% if @view_mode == 'list' -%>

      <div id="items" class="list clearfix">

        <% @items.each do |item| %>
          <div class="listItem clearfix">
            <div class="item <%= item.icon_class -%>">
              <a href="/collections/detail/<%= item.id %>"><img width="100" src="<%= item.thumbnail_url %>" alt="<%= truncate(item.title) %>" /></a>
              <a class="type" href="<%= '/collections/page/1?medium_filter='+item.category_id.to_s -%>" title="<%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %>"><%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %> </a>
            </div>
            <div class="description">
              <a class="view" href="/collections/detail/<%= item.id %>"><%=  t(:view_details) %></a>
              <h3><a href="/collections/detail/<%= item.id %>"><%= truncate(item.title, :length => 50) %></a></h3>
              <h4><%= item.collection.name unless item.collection.nil? %></h4>
              <p class="meta"><%= item.show_date unless item.show_date.blank? %> <%= " | " unless item.show_date.blank? || item.period.nil? %> <%= item.period.title  unless item.period.nil? %></p>
              <p> <a href="/collections/detail/<%= item.id %>"><%= truncate(item.description, :length => 100) unless item.description.blank? -%> </a></p>
            </div>
          </div>
        <% end %>
      </div><!-- end of items -->
    <% elsif @view_mode == 'grid' -%>

      <div id="items">
        <% @items.each do |item| -%>
          <div class="item <%= item.icon_class -%>" style="background:url(<%= item.thumbnail_url %>) top left no-repeat">
            <a class="type" href="<%= '/collections/page/1?medium_filter='+item.category_id.to_s %>" title="<%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %>"><%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %>"><%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %>"><%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %> </a>
            <a class="title" href="/collections/detail/<%= item.id %>"><%= truncate(item.title, :length=> 20) %><span><%= truncate(item.collection.name) %></span></a>
          </div>
        <% end -%>
      </div><!-- end of items -->
    <% elsif @view_mode == 'slideshow' -%>

      <div class="slideshow_container">
        <a class="prev" href="#" style="display: block;"></a>
        <a class="next" href="#" style="display: block;"></a>
        <div class="slideshow">
          <ul>
            <% @items.each do |item| -%>
              <li><a href="/collections/detail/<%= item.id %>"><img src="<%= item.preview_url %>" height="320" alt="<%= item.category.name.downcase unless item.category.blank? %>" /></a><a class="title" href="/collections/detail/<%= item.id %>"><%= truncate(item.title, :length=> 30) -%></a></li>
            <% end -%>
          </ul>
        </div>

      </div>
    <% end -%>

    <%= render :partial => 'pagination_bar' %>

  </div>
</div> <!-- end browser --><!-- end featured -->

