<% @page_description = t(:collections_description) -%>
<% @page_title = t(:collections).capitalize -%>
<div id="browser" class="clearfix"> 
  <div id="head"> 
    <h2><%= t(:collection_browser) %></h2>
    <ul class="types sortnav">
      <li><%= t(:show) %>:</li>
      <li class="active"><a href="#" id="allItems" class="module-link active"><%= t(:all_items) %></a></li>
      <li><a href="#"  id="myItems" class="module-link"><%= t(:my_items) %></a></li>
    </ul>
  </div> 
  <div id="browserFilters" class="clearfix">
    <div class="column">
      <h4><%= t(:medium) %>  </h4>
      <select id="mediumFilter" name="mediumFilter">
        <option value="all" selected="selected"><%= t(:all) %> </option>
        <% @major_categories.each do |category| -%>
          <option value="<%= category.id %> "><%= truncate(category.name, :length => 20) %></option>
        <% end -%>
        <option value="more"><%= t(:more_categories) %></option>
      </select>
    </div>
    <div class="column">
      <h4><%= t(:collection) %></h4>
      <select id="collectionFilter" name="collectionFilter">
        <option value="all" selected="selected"><%= t(:all) %></option>
        <% @collections.each do |collection| -%>
          <option value="<%= collection.id %> "><%= truncate(collection.name, :length => 20) %></option>
        <% end -%>
        <option value="more"><%= t(:more_collections) %></option>
      </select>
    </div>
    <div class="column">
      <h4><%= t(:name) %></h4>
      <select id="nameFilter" name="nameFilter">
        <option value="all" selected="selected"><%= t(:all) %> </option>
        <% @people.each do |person| -%>
          <% if person.major %>
            <option value="<%= person.id %> "><%= truncate(person.name, :length => 20) %></option>
          <% end -%>
        <% end -%>
        <option value="more"><%= t(:more_names) %></option>
      </select>
    </div>
    <div class="column">
      <h4><%= t(:subject) %></h4>
      <select id="subjectFilter" name="subjectFilter">
        <option value="all" selected="selected"><%= t(:all) %> </option>
        <option value="1">Subject 1 </option>
        <option value="2">Subject  2</option>
        <option value="3">Subject  3 </option>
        <option value="4">Subject  4 </option>
        <option value="5">Subject  5 </option>
        <option value="more"><%= t(:more_subjects) %> </option>
      </select>
    </div>
    <div class="column">
      <h4><%= t(:period) %></h4>
      <select id="periodFilter" name="periodFilter">
        <option value="all" selected="selected"><%= t(:all) %> </option>
        <% @periods.each do |period| -%>
          <option value="<%= period.id %> "><%= truncate(period.title, :length => 20) %></option>
        <% end -%>
      </select>
    </div>
  </div> 
  <div id="browserFiltersDropdown" class="clearfix">
    <% @major_categories.each do |major_category| %>
      <div> <h3><%= major_category.name %> </h3>
        <ul>
          <% if !major_category.subcategories.empty? %>
            <% major_category.subcategories.each do |subcategory| %>
              <li><input type="checkbox" value="on" class="checkbox" id="a" name="1" />
                <label for="subcategory.id"><%= subcategory.name %></label>
              </li>
            <% end %>
          <% else %>
            <li><input type="checkbox" value="on" class="checkbox" id="a" name="1"/>
              <label for="major_category.id"><%= t(:all) %></label>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <span style="display:block; position:absolute; bottom:10px; right:15px;">
        <a class="filterButton" href="#">Filter</a> 
        <a class="cancelButton" href="#">Cancel</a>
      </span>
    </div>
  </div>
  <div id="browserMessage"><p><%= "#{t(:results_prefix)}: #{(@items.offset + 1).to_s} - #{(@items.offset + @items.per_page).to_s} | #{@items.total_entries.to_s}" %></p></div>
  <div id="browserContent" class="clearfix">                 	

    <%= render :partial => 'pagination_bar' %>

    <div id="items" class="list clearfix"> 

      <% @items.each do |item| %>
        <div class="listItem clearfix">
          <div class="item artwork">
            <a href="/collections/detail/<%= item.id %>"><img width="100" src="<%= item.thumbnail_url %>" alt="<%= truncate(item.title) %>" /></a>
            <a class="type" href="#" title="<%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %>"><%= t(:show_only) %> <%= item.category.name.downcase unless item.category.blank? %> </a>
          </div>
          <div class="description">
            <a class="view" href="/collections/detail/<%= item.id %>"><%=  t(:view_details) %></a>
            <h3><a href="/collections/detail/<%= item.id %>"><%= truncate(item.title, :length => 50) %></a></h3>
            <h4><%= item.collection.name unless item.collection.nil? %></h4>
            <p class="meta"><%= item.show_date unless item.show_date.blank? %> <%= " | " unless item.show_date.blank? || item.period.nil? %> <%= item.period.title  unless item.period.nil? %></p>
            <p> <a href="/collections/detail/<%= item.id %>"><%= item.description unless item.description.blank? -%> </a></p>
          </div>
        </div>
      <% end %>
    </div><!-- end of items --> 

    <%= render :partial => 'pagination_bar' %>

  </div> 
</div> <!-- end browser --><!-- end featured -->

