<div class="header">
  <div class="description">
    <h1><%= link_to controller.controller_name.humanize, admin_clip_types_path  %> | Show </h1>
  </div>
  <div class="tools">
    <%= link_to 'Back', admin_clip_types_path %> |
    <%= link_to 'Edit', edit_admin_clip_type_path(clip_type) %> |
    <%= link_to 'Delete', admin_clip_type_path(clip_type), :method => :delete, :confirm => "Are you sure you want to delete this clip type?" %> |
    <%= link_to "New", new_admin_clip_type_path %>
  </div>
</div>