<p class="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @clip_type.name %>
</p>

<p>
  <b>Extension:</b>
  <%= @clip_type.extension %>
</p>

<p>
  <b>Publish:</b>
  <%= @clip_type.publish %>
</p>

<p>
  <b>Notes:</b>
  <%= @clip_type.notes %>
</p>


<%= link_to 'Edit', edit_admin_clip_type_path(@clip_type) %> |
<%= link_to 'Back', admin_clip_types_path %>
