<% @page_description = t(:show_description) -%>
<% @page_title = controller.controller_name.humanize + " | " + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
    <div class="onecolumn">
        <%= render 'nav_show_header_bar', :clip => @clip %>
        <table class="styled" >
            <tr>
                <td>

                <p>
                    <b>Name:</b>
                    <%= @clip_type.name %>
                </p>
                <p>
                    <b>Extension:</b>
                    <%= @clip_type.extension %>
                </p>
                <p>
                    <b>Publish:</b>
                    <%= @clip_type.publish %>
                </p>
                <p>
                    <b>Notes:</b>
                    <%= @clip_type.notes %>
                </p>
                </td>
            </tr>
        </table>
        <%= render 'nav_show_header_bar', :clip => @clip %>
    </div>
</div>