<h1>Listing clip_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clip_types.each do |clip_type| %>
  <tr>
    <td><%= clip_type.name %></td>
    <td><%= clip_type.extension %></td>
    <td><%= clip_type.publish %></td>
    <td><%= clip_type.notes %></td>
    <td><%= link_to 'Show', clip_type %></td>
    <td><%= link_to 'Edit', edit_clip_type_path(clip_type) %></td>
    <td><%= link_to 'Destroy', clip_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clip type', new_clip_type_path %>
