<%= form_for([:admin, @subject]) do |f| %>
<%= f.hidden_field :lock_version %>
<table class="global" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td colspan="2">
        <% if @subject.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>
            <ul>
                <% @subject.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
                <% end %>
            </ul>
        </div>
        <% end %>
        </td>
    </tr>
    <tr>
        <td>
        <div class="field">
            <%= f.label :name_en %>
            <br />
            <%= f.text_field :name_en, :size => 55 %>
        </div>
        </td>
        <td>
        <div class="field persianOnly">
            <%= f.label :name_fa %>
            <br />
            <%= f.text_field :name_fa, :size => 55 %>
        </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
        <div class="field">
            <%= f.label :subject_type_id %>
            <br />
            <%= f.select :subject_type_id, @subject_types %>
        </div>
        </td>
    </tr>
    <tr>
        <td>
        <div class="field">
            <%= f.label :major %>
            <br />
            <%= f.check_box :major %>
        </div>
        </td>
        <td>
        <div class="field">
            <%= f.label :publish %>
            <br />
            <%= f.check_box :publish %>
        </div></td>
    </tr>
    <tr>
        <td colspan="2">
        <div class="field">
            <%= f.label :notes %>
            <br />
            <%= f.text_area :notes, :rows => 3 %>
        </div>
        </td>
    </tr>
    <tr>
        <td>
        <div class="actions">
            <%= f.submit %>
        </div>
        </td>
    </tr>
</table>
<% end %>
