<% @page_description = t(:edit_description) -%>
<% @page_title = t(:subject).capitalize + ' | ' + t(:edit).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
  <%= render 'form' %>

  <p><%= link_to 'Show', @subject %> |
    <%= link_to 'Back', admin_subjects_path %> |
    <%= link_to 'New', new_admin_subject_path  %></p>
</div>