<% @page_description = t(:index_description) -%>
<% @page_title = t(:subject).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= t(:subject).capitalize %></h1>
  <%= render :partial => 'toolbar' %>
<table class="styled">
  <tr>
    <th>Name</th>
    <th>Major</th>
    <th>Publish</th>
    <th>Notes</th>
    <th>Actions</th>
  </tr>

<% @subjects.each do |subject| %>
  <tr>
    <td><%= subject.name %></td>
    <td><%= show_check(subject.major) %></td>
    <td><%= show_check(subject.publish) %></td>
    <td><%= truncate(subject.notes) %></td>
    <td><%= link_to image_tag("page_white_text.png", :alt => 'show'), admin_subject_path(subject) %> <%= link_to image_tag("page_white_edit.png", :alt => 'edit'), edit_admin_subject_path(subject) %> <%= link_to image_tag("delete.png", :alt => 'delete'), admin_subject_path(subject), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
  <p>&nbsp;</p>
  <%= render :partial => 'toolbar' %>
</div>
