<% @page_description = t(:index_description) -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title = t(:repository).capitalize %></h1>
  <p><%= link_to 'New Repository', new_repository_path %></p>

  <table class="styled">
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Url</th>
      <th>Publish</th>
      <th>Notes</th>
      <th>Actions</th>
    </tr>

    <% @repositories.each do |repository| %>
      <tr>
        <td><%= truncate(repository.name) %></td>
        <td><%= truncate(repository.owner.name) unless repository.owner.nil? %></td>
        <td><%= truncate(repository.url) %></td>
        <td><%= show_check repository.publish %></td>
        <td><%= truncate(repository.notes) %></td>
        <td><%= link_to image_tag("page_white_text.png", :alt => 'show'), repository %> <%= link_to image_tag("page_white_edit.png", :alt => 'edit'), edit_repository_path(repository) %> <%= link_to image_tag("delete.png", :alt => 'delete'), repository, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </table>

  <p><%= link_to 'New Repository', new_repository_path %></p>
</div>
