<span>
  <hr />
  <%= form_for(['admin', classification], :remote => true) do |f| %>

    <%= f.hidden_field(:item_id) %>

    <% if classification.errors.any? %>
      <div id="errorExplanation">
        <h2><%= pluralize(classification.errors.count, "error") %> prohibited this classification from being saved:</h2>
        <ul>
          <% classification.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :subject_id %><br />
      <%= f.select :subject_id, subjects, {:include_blank => true} %>
    </div>

    <div class="field">
      <%= f.label :publish %><br />
      <%= f.check_box :publish %>
    </div>
    <div class="field">
      <%= f.label :position %><br />
      <%= f.text_field :position, :size => 5 %>
    </div>
    <div class="field">
      <%= f.label :notes %><br />
      <%= f.text_field :notes %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  <%= button_to 'Cancel', { :controller => "items", :action => 'hide_add_classification_to_item', :id => item.id }, :remote => true %>
</span>
