<span>
    <p>
        <%= button_to 'Toggle Persian/English', { :controller => "items", :action => 'show_add_appearance_to_item', :id => item.id, :persian_focus => !persian_focus }, :remote => true, :disable_with => t(:please_wait) %>
    </p>
    <%= form_for(['admin', appearance], :remote => true, :persian_focus => persian_focus) do |f| %>
    <% if appearance.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(appearance.errors.count, "error") %> prohibited this appearance from being saved:</h2>
        <ul>
            <% appearance.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <%= f.hidden_field(:item_id) %>
    
    <div class="field <%= persian_focus ? 'persianOnly' : 'englishOnly' %>">
        <%= f.label :person_id %><br/>
        <%= f.select :person_id, people %>
    </div>
    <div class="field">
        <%= f.label :caption_en %><br/>
        <%= f.text_area :caption_en, :rows => 1 %>
    </div>
    <div class="field">
        <%= f.label :caption_fa %><br/>
        <%= f.text_area :caption_fa, :rows => 1, :class => 'persianOnly' %>
    </div>
    <p>
        <strong>Approved Captions/Roles: </strong> creator آفریننده, receiver گیرنده, copyist کاتب, former owner صاحب قبلی, interviewee مصاحبه شونده, interviewer مصاحبه کننده, publisher ناشر, printing house چاپخانه
    </p>
    <div class="field">
        <%= f.label :publish %> <br/><%= f.check_box :publish %>
    </div>
    <div class="field">
        <%= f.label :position %> <br/><%= f.text_field :position, :size => 5 %>
    </div>
    <div class="field">
        <%= f.label :notes %> <br/><%= f.text_field :notes %>
    </div>
    <div class="actions">
        <%= button_to 'Save Appearance', nil, :disable_with => t(:please_wait) %>
    </div>
    <% end %>
    <%= button_to 'Cancel', { :controller => "items", :action => 'hide_add_appearance_to_item', :id => item.id }, :remote => true, :disable_with => t(:please_wait) %>
</span>
