<span>
    <hr />
    <%= form_for(['admin', comp], :remote => true) do |f| %>
    <% if comp.errors.any? -%>
    <div id="error_explanation">
        <h2><%= pluralize(comp.errors.count, "error") %> prohibited this comp from being saved:</h2>
        <ul>
            <% comp.errors.full_messages.each do |msg| -%>
            <li>
                <%= msg %>
            </li>
            <% end -%>
        </ul>
    </div>
    <% end -%>

    <%= f.hidden_field(:item_id) %>

    <div class="field">
        <%= f.label :comp %>
        <br />
        <%= f.select :comp_id, @items %>
    </div>
    <div class="field">
        <%= f.label :caption_en %>
        <br />
        <%= f.text_field :caption_en, :size => 25 %>
    </div>
    <div class="field">
        <%= f.label :caption_fa %>
        <br />
        <%= f.text_field :caption_fa, :size => 25, :class => 'persianOnly' %>
    </div>
    <p>
        <strong>Approved Captions:</strong>original
        اصل

        draft
        چرکنویس

        typed
        تایپی

        handwritten
        دستخط

        reply
        پاسخ

        dowry
        جهیزیه

        marriage contract
        نکاح نامه

        envelope پاکت
    </p>
    <div class="field">
        <%= f.label :publish %>
        <br />
        <%= f.check_box :publish %>
    </div>
    <div class="field">
        <%= f.label :position %>
        <br />
        <%= f.text_field :position, :size => 5 %>
    </div>
    <div class="field">
        <%= f.label :notes %>
        <br />
        <%= f.text_field :notes %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
    <% end %>
    <%= button_to 'Cancel', { :controller => "items", :action => 'hide_add_comp_to_item', :id => item.id }, :remote => true %>
</span>
