
<%= form_for([:admin, @item]) do |f| %>
  <%= f.error_messages %>
  <table>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :title_en %><br />
          <%= f.text_area :title_en, :rows => 3 %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :title_fa %><br />
          <%= f.text_area :title_fa, :rows => 3 %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :credit_en %><br />
          <%= f.text_area :credit_en, :rows => 3 %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :credit_fa %><br />
          <%= f.text_area :credit_fa, :rows => 3 %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :description_en %><br />
          <%= f.text_area :description_en, :rows => 5 %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :description_fa %><br />
          <%= f.text_area :description_fa, :rows => 5 %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :creator_label_en %><br />
          <%= f.text_field :creator_label_en, :size => 55 %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :creator_label_fa %><br />
          <%= f.text_field :creator_label_fa, :size => 55 %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :display_date_en %><br />
          <%= f.text_field :display_date_en %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :display_date_fa %><br />
          <%= f.text_field :display_date_fa %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :publisher_en %><br />
          <%= f.text_field :publisher_en %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :publisher_fa %><br />
          <%= f.text_field :publisher_fa %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Translated Relationships</h3>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :creator_id %><br />
          <%= f.select :creator_id, Person.select_list, {:include_blank => true} %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :owner_id %><br />
          <%= f.select :owner_id, Owner.select_list, {:include_blank => true} %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :collection_id %><br />
          <%= f.select :collection_id, Collection.select_list, {:include_blank => true} %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :place_id %><br />
          <%= f.select :place_id, Place.select_list, {:include_blank => true } %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Untranslated Fields</h3>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly" >
          <%= f.label :accession_num %><br />
          <%= f.text_area :accession_num, :class => "englishOnly", :rows => 3 %>
        </div>
      </td>
      <td>
        <div class="field englishOnly">
          <%= f.label :urn %><br />
          <%= f.text_area :urn, :rows => 3, :class => "englishOnly" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :pages %><br />
          <%= f.text_field :pages, :size => 5, :class => "englishOnly" %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :bound %><br />
          <%= f.check_box :bound %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :source_date %> (use with calendar type below)<br />
          <%= f.text_field :source_date, :class => "englishOnly" %>
        </div>
      </td>
      <td>
        <div class="field englishOnly">
          <%= f.label :calendar_type_id %><br />
          <%= f.select :calendar_type_id, CalendarType.select_list, {:include_blank => true}, :class => "englishOnly" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :sort_date %> (YYYY-MM-DD Gregorian)<br />
          <%= f.text_field :sort_date, :class => "englishOnly" %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :circa %><br />
          <%= f.check_box :circa %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :width %><br />
          <%= f.text_field :width, :class => "englishOnly" %>
        </div>
      </td>
      <td>
        <div class="field englishOnly">
          <%= f.label :height %><br />
          <%= f.text_field :height, :class => "englishOnly" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field englishOnly">
          <%= f.label :depth %><br />
          <%= f.text_field :depth, :class => "englishOnly" %>
        </div>
      </td>
      <td>
        <div class="field englishOnly">
          <%= f.label :length %><br />
          <%= f.text_field :length, :class => "englishOnly" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :publish %><br />
          <%= f.check_box :publish %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :favorite %><br />
          <%= f.check_box :favorite %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="field englishOnly">
          <%= f.label :notes %><br />
          <%= f.text_area :notes, :class => "englishOnly", :rows => 3 %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
