<% @page_description = t(:index_description) -%>
<% @page_title = t(:item).capitalize -%>

<div id="staticContent" class="clearfix">
  <div class="onecolumn">
  
    <div class="content nomargin">
      <%= render :partial => 'admin/admin/nav_header_bar', :locals => {:new_passed_path => new_admin_item_path, :show_all_path => admin_items_path, :export_passed_path => export_admin_items_path(:format => :csv) } %>
      <%= render 'nav_filter_bar' %>
      <%= render :partial => 'admin/admin/nav_pagination_bar', :locals => {:passed_objects => @items} %>
      <table  class="global" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th><%= sort_link "Id", 'items.id' %></th>
          <th><%= sort_link "Title_en", 'title_en' %></th>
          <th><%= sort_link "Title_fa", 'title_fa' %></th>
          <th><%= sort_link "Collection", 'items.collection_id' %></th>
          <th><%= sort_link "Pp", 'items.pages' %></th>
          <th><%= sort_link "Pub", 'items.publish' %></th>
          <th><%= sort_link "Updated", 'items.updated_at' %></th>
          <th>Actions</th>
        </tr>

        <% @items.each do |item| %>
          <tr>
            <td><%= item.id.to_s %></td>
            <td><%= link_to_unless item.title_en.blank?, item.title_en, admin_item_path(item), :title => item.title_en %></td>
            <td class="persianOnly"><%= link_to_unless item.title_fa.blank?, item.title_fa, admin_item_path(item), :title => item.title_fa %></td>
            <td><%= truncate(item.collection.name, :length => 15) unless item.collection.nil? %></td>
            <td><%= item.pages %></td>
            <td><%= show_check item.publish %></td>
            <td><%= item.updated_at.to_s(:short) %></td>
            <td><%= link_to image_tag("page_white_text.png", :alt => 'show'), admin_item_path(item) %> <%= link_to image_tag("page_white_edit.png", :alt => 'edit'), edit_admin_item_path(item) %> <%= link_to image_tag("delete.png", :alt => 'delete'), admin_item_path(item), :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </table>
      <%= render :partial => 'admin/admin/nav_pagination_bar', :locals => {:passed_objects => @items} %>
      <br class="clear" />
    </div>
  </div>
</div>
