<%= form_for([:admin, @period]) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :lock_version %>
  <table class="global" width="80%" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <div class="field">
          <%= f.label :title_en %><br />
          <%= f.text_field :title_en %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :title_fa %><br />
          <%= f.text_field :title_fa %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :caption_en %><br />
          <%= f.text_field :caption_en %>
        </div>
      </td>
      <td>
        <div class="field persianOnly">
          <%= f.label :caption_fa %><br />
          <%= f.text_field :caption_fa %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :description_en %><br />
          <%= f.text_area :description_en, :rows => 5 %>
        </div></td>
      <td>
        <div class="field persianOnly">
          <%= f.label :description_fa %><br />
          <%= f.text_area :description_fa, :rows => 5 %>
        </div></td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :start_at %><br />
          <%= f.text_field :start_at %>
        </div>
      </td>
      <td>
        <div class="field">
          <%= f.label :end_at %><br />
          <%= f.text_field :end_at %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="field">
          <%= f.label :position %><br />
          <%= f.text_field :position %>
        </div></td>
      <td>
        <div class="field">
          <%= f.label :publish %><br />
          <%= f.check_box :publish %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="field">
          <%= f.label :notes %><br />
          <%= f.text_area :notes, :rows => 3 %>
        </div></td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="actions">
          <%= f.submit %>
        </div>
      </td>
    </tr>
  </table>
<% end %>
