<p>
  <b>Title:</b>
  <%= @period.title %>
</p>

<p>
  <b>Caption:</b>
  <%= @period.caption %>
</p>

<p>
  <b>Description:</b>
  <%= @period.description %>
</p>

<p>
  <b>Start year:</b>
  <%= @period.start_year %>
</p>

<p>
  <b>End year:</b>
  <%= @period.end_year %>
</p>

<p>
  <b>Position:</b>
  <%= @period.position %>
</p>

<p>
  <b>Publish:</b>
  <%= @period.publish %>
</p>

<p>
  <b>Notes:</b>
  <%= @period.notes %>
</p>


<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
