<h1>Listing subject_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subject_types.each do |subject_type| %>
  <tr>
    <td><%= subject_type.name %></td>
    <td><%= subject_type.description %></td>
    <td><%= subject_type.publish %></td>
    <td><%= subject_type.notes %></td>
    <td><%= link_to 'Show', admin_subject_type_path(subject_type) %></td>
    <td><%= link_to 'Edit', edit_admin_subject_type_path(subject_type) %></td>
    <td><%= link_to 'Destroy', admin_subject_type_path(subject_type), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subject type', new_admin_subject_type_path %>
