<% @page_description = t(:edit_description) -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title = t(:repository).capitalize + ' | ' + t(:edit).capitalize %></h1>
  <p><%= link_to 'Show', @repository %> |
<%= link_to 'Back', admin_repositories_path %></p>
  <%= render 'form' %>
  <p><%= link_to 'Show', @repository %> |
<%= link_to 'Back', admin_repositories_path %></p>
</div>


