<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :vital_display %><br />
    <%= f.text_field :vital_display %>
  </div>
  <div class="field">
    <%= f.label :birth_place %><br />
    <%= f.text_field :birth_place %>
  </div>
  <div class="field">
    <%= f.label :loc_name %><br />
    <%= f.text_field :loc_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :dod %><br />
    <%= f.date_select :dod %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
