<h1>Listing people</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Vital display</th>
    <th>Birth place</th>
    <th>Loc name</th>
    <th>Dob</th>
    <th>Dod</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.description %></td>
    <td><%= person.vital_display %></td>
    <td><%= person.birth_place %></td>
    <td><%= person.loc_name %></td>
    <td><%= person.dob %></td>
    <td><%= person.dod %></td>
    <td><%= person.notes %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>
