<p>
  <b>Name:</b>
  <%= @owner.name %>
</p>

<p>
  <b>Address:</b>
  <%= @owner.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @owner.address2 %>
</p>

<p>
  <b>State province:</b>
  <%= @owner.state_province %>
</p>

<p>
  <b>Postal code:</b>
  <%= @owner.postal_code %>
</p>

<p>
  <b>Country:</b>
  <%= @owner.country %>
</p>

<p>
  <b>Telephone:</b>
  <%= @owner.telephone %>
</p>

<p>
  <b>Email:</b>
  <%= @owner.email %>
</p>

<p>
  <b>Url:</b>
  <%= @owner.url %>
</p>

<p>
  <b>Contact:</b>
  <%= @owner.contact %>
</p>

<p>
  <b>Terms:</b>
  <%= @owner.terms %>
</p>

<p>
  <b>Notes:</b>
  <%= @owner.notes %>
</p>


<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
