<%= form_for([:admin, @calendar_type]) do |f| %>
<table class="global" width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
        <%= f.error_messages %>

        <div class="field">
            <%= f.label :name_en %>
            <br />
            <%= f.text_field :name_en %>
        </div>
        <div class="field persianOnly">
            <%= f.label :name_fa %>
            <br />
            <%= f.text_field :name_fa %>
        </div>
        <div class="field">
            <%= f.label :publish %>
            <br />
            <%= f.check_box :publish %>
        </div>
        <div class="field">
            <%= f.label :notes %>
            <br />
            <%= f.text_area :notes %>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
        </td>
    </tr>
</table>
<% end %>
