<div class="header">
  <div class="description">
    <h1><%= link_to controller.controller_name.capitalize, admin_calendar_types_path  %> | Show </h1>
  </div>
  <div class="tools">
    <%= link_to 'Back', admin_calendar_types_path %> |
    <%= link_to 'Edit', edit_admin_calendar_type_path(clip) %> |
    <%= link_to 'Delete', admin_calendar_type_path(clip), :method => :delete, :confirm => "Are you sure you want to delete this clip type?" %> |
    <%= link_to "New", new_admin_calendar_type_path %>
  </div>
</div>