<% @page_description = t(:show_description) -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title = t(:passport).capitalize + " | " + t(:show).capitalize %></h1>
  <p id="notice"><%= notice %></p>
  <p><%= link_to 'Edit', edit_admin_passport_path(@passport) %> |
  <%= link_to 'Back', admin_admin_passport_path %></p>
<p>
  <b>Tag:</b>
  <%= @passport.tag %>
</p>

<p>
  <b>Repository:</b>
  <%= link_to_unless @passport.repository.nil?, @passport.repository.to_label, @passport.repository %>
</p>

<p>
  <b>Item:</b>
  <%= link_to_unless @passport.item.nil?, @passport.item.to_label, @passport.repository %>
</p>

<p>
  <b>Publish:</b>
  <%= @passport.publish %>
</p>

<p>
  <b>Primary:</b>
  <%= @passport.primary %>
</p>

<p>
  <b>Position:</b>
  <%= @passport.position %>
</p>

<p>
  <b>Notes:</b>
  <%= @passport.notes %>
</p>

<p>
  <b>Custom url:</b>
  <%= @passport.custom_url %>
</p>

<p><%= link_to 'Edit', edit_admin_passport_path(@passport) %> |
<%= link_to 'Back', admin_admin_passport_path %></p>

