<% @page_description = t(:utilities_description) -%>
<% @page_title = t(:utilities).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
  <ul>
    <li><%= link_to "Rename files by original file name", :action => 'rename_by_file_name' %></li>
		<li>
		<%= form_tag({:action => 'index'}, :method => 'get', :name => 'rename_thumbs_by_collection') do -%>
      <select id="collectionFilter" name="collection_filter"  onChange="document.forms['rename_thumbs_by_collection'].submit()">
        <% @collections.each do |collection| -%>
            <option value="<%= collection.id %>"><%= collection.name %></option>
        <% end -%>
      </select>
    <% end %>
		</li>
  </ul>
</div> <!-- end browser --><!-- end featured -->