<% @page_description = t(:utilities_description) -%>
<% @page_title = t(:utilities).capitalize + " | Rename Thumbs by Index" -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
	<p>This utility renames thumbs by index...</p>
  <<ul>
    <li>Process this many items: <%= @items.count %>, processed count = <%= @processed_count %> and failed is <%= @failed %>.</li>
		<li>pub_file_uri = <%= @pub_file_uri %></li>
  </ul>
</div> <!-- end browser --><!-- end featured -->