<p>
  <b>Name:</b>
  <%= @relationship.name %>
</p>

<p>
  <b>Description:</b>
  <%= @relationship.description %>
</p>

<p>
  <b>Position:</b>
  <%= @relationship.position %>
</p>

<p>
  <b>Publish:</b>
  <%= @relationship.publish %>
</p>

<p>
  <b>Notes:</b>
  <%= @relationship.notes %>
</p>


<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
