<% @page_description = t(:index_description) -%>
<% @page_title = t(:period).capitalize -%>
<h1>Listing periods</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Caption</th>
    <th>Description</th>
    <th><%= Period.human_attribute_name(:start_year) %></th>
    <th>End year</th>
    <th>Position</th>
    <th><%= t(:publish) %></th>
    <th><%= t(:actions) %></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.title %></td>
    <td><%= period.caption %></td>
    <td><%= period.description %></td>
    <td><%= period.start_year %></td>
    <td><%= period.end_year %></td>
    <td><%= period.position %></td>
    <td><%= period.publish %></td>
    <td><%= link_to 'Show', period %> | <%= link_to 'Edit', edit_period_path(period) %> | <%= link_to 'Destroy', period, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New period', new_period_path %>
