<h1>Listing periods</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Caption</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Position</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.title %></td>
    <td><%= period.caption %></td>
    <td><%= period.description %></td>
    <td><%= period.start_date %></td>
    <td><%= period.end_date %></td>
    <td><%= period.position %></td>
    <td><%= period.publish %></td>
    <td><%= period.notes %></td>
    <td><%= link_to 'Show', period %></td>
    <td><%= link_to 'Edit', edit_period_path(period) %></td>
    <td><%= link_to 'Destroy', period, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New period', new_period_path %>
