<h1>Listing relationships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Position</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @relationships.each do |relationship| %>
  <tr>
    <td><%= relationship.name %></td>
    <td><%= relationship.description %></td>
    <td><%= relationship.position %></td>
    <td><%= relationship.publish %></td>
    <td><%= relationship.notes %></td>
    <td><%= link_to 'Show', admin_relationship_path(relationship) %></td>
    <td><%= link_to 'Edit', edit_admin_relationship_path(relationship) %></td>
    <td><%= link_to 'Destroy', admin_relationship_path(relationship), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New relationship', new_admin_relationship_path %>
