<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Latitude:</b>
  <%= @place.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @place.longitude %>
</p>

<p>
  <b>X:</b>
  <%= @place.x %>
</p>

<p>
  <b>Y:</b>
  <%= @place.y %>
</p>

<p>
  <b>Publish:</b>
  <%= @place.publish %>
</p>

<p>
  <b>Notes:</b>
  <%= @place.notes %>
</p>


<%= link_to 'Edit', edit_admin_place_path(@place) %> |
<%= link_to 'Back', admin_places_path %>
