<% @page_description = t(:exhibits_description) -%>
<% @page_title = t(:exhibits).capitalize + ' | ' + truncate(@exhibition.title, :length => 40) -%>
<% @extra_head_content = capture do %>
  <script type="text/javascript" src="/javascripts/jcarousellite_1.0.1.pack.js"></script>


  <script language="javascript" type="application/javascript">
    $(document).ready(function(){

    $('a[title]').qtip({
    style: {
    name: 'dark',
    tip: true,
    border: {
    radius: 8
    }
    },
    position: {
    corner: {
    target: 'topMiddle',
    tooltip: 'bottomMiddle'
    }
    }
    });




    $(".slideshow_container .next").click(function(){
    $(".slideshow").animate({left: '-=' + 190 + 'px'});
    return false;
    });
    $(".slideshow_container .prev").click(function(){
    $(".slideshow").animate({left: '+=' + 190 + 'px'});
    return false;
    });

    });
  </script>
<% end %>

<div id="browser" class="clearfix singleItemBrowser">
  <div id="head">
    <h2><%=   @exhibition.title %></h2>
    <ul class="types sortnav">
      <li><%= link_to t(:back_to_exhibits), exhibits_path, :class=>"module-link active" %></li>
    </ul>
  </div>
  <div id="browserFilters" class="clearfix">
    <p><%= raw @exhibition.introduction  %><br />
    </p>
  </div>
  <div id="browserContent" class="clearfix">
    <div class="slideshow_container">
      <a class="prev" href="#" style="display: block;"></a>
      <a class="next" href="#" style="display: block;"></a>
      <div class="slideshow">
        <ul>
          <% @exhibition.items.each do |item| %>
            <li><a href="/exhibits/detail/<%= item.id.to_s %>" ><img src="<%= item.preview_url(1) %>" height="400" alt="<%= item.category.name %>" /></a><a class="title" href="/exhibits/detail/<%= item.id.to_s %>" title="<%= item.title %> "><%= truncate(item.title, :length => 50) %></a></li>
          <% end %>
        </ul>
      </div>

    </div>
  </div>
</div> <!-- end browser --><!-- end featured -->