<%= form_for([:admin, @section]) do |f| %>
<% if @section.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>
    <ul>
        <% @section.errors.full_messages.each do |msg| %>
        <li>
            <%= msg %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>

<table class="global" width="80%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
        <div class="field">
            <%= f.label :item_id %>
            <br />
            <%= f.select :item_id, @items %>
        </div>
        <div class="field">
            <%= f.label :start_page %>*
            <br />
            <%= f.text_field :start_page %>
        </div>
        <div class="field">
            <%= f.label :end_page %>*
            <br />
            <%= f.text_field :end_page %>
        </div>
        <div class="field">
            <%= f.label :title %>
            <br />
            <%= f.text_field :title %>
        </div>
        <div class="field">
            <%= f.label :caption %>
            <br />
            <%= f.text_area :caption %>
        </div>
        <div class="field">
            <%= f.label :start_page_label %>
            <br />
            <%= f.text_field :start_page_label %>
        </div>
        <div class="field">
            <%= f.label :end_page_label %>
            <br />
            <%= f.text_field :end_page_label %>
        </div>
        <div class="field">
            <%= f.label :parent_id %>
            <br />
            <%= f.text_field :parent_id %>
        </div>
        <div class="field">
            <%= f.label :publish %>
            <br />
            <%= f.check_box :publish %>
        </div>
        <div class="field">
            <%= f.label :notes %>
            <br />
            <%= f.text_field :notes %>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div></td>
    </tr>
</table>
<% end %>
