<div id="staticContent" class="clearfix">
    <div class="onecolumn">
        <div class="content nomargin">
            <%= render :partial => 'admin/admin/nav_header_bar', :locals => {:new_passed_path => new_admin_item_alternate_title_path, :show_all_path => admin_item_alternate_titles_path } %>
            <div class="filterbar">
                <h5><%= link_to_unless @item.nil?, @item.to_label, admin_item_path(@item) %></h5>
            </div>
            <table class="global" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th>Name en</th>
                    <th>Name fa</th>
                    <th>Caption</th>
                    <th>Publish</th>
                    <th>Notes</th>
                    <th>Actions</th>
                </tr>
                <% @alternate_titles.each do |alternate_title| %>
                <tr>
                    <td><%= link_to_unless alternate_title.title_en.blank?, alternate_title.title_en, admin_item_alternate_title_path({:item_id => @item.id, :id => alternate_title.id}) %></td>
                    <td class="persianOnly"><%= alternate_title.title_fa %></td>
                    <td><%= alternate_title.caption %></td>
                    <td><%= show_check(alternate_title.publish) %></td>
                    <td><%= alternate_title.notes %></td>
                    <td><%= link_to image_tag("page_white_text.png", :alt => 'show'), admin_item_alternate_title_path({:item_id => @item.id, :id => alternate_title.id}) %> <%= link_to image_tag("page_white_edit.png", :alt => 'edit'), edit_admin_item_alternate_title_path({:item_id => alternate_title.item_id, :id => alternate_title.id}) %> <%= link_to image_tag("delete.png", :alt => 'delete'), admin_item_alternate_title_path({:item_id => alternate_title.item_id, :id => alternate_title.id}), :confirm => 'Are you sure?', :method => :delete %></td>
                </tr>
                <% end %>
            </table>
            <br class="clear" />
        </div>
    </div>
</div>
