<h1>Listing formats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Extension</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @formats.each do |format| %>
  <tr>
    <td><%= format.name %></td>
    <td><%= format.extension %></td>
    <td><%= format.publish %></td>
    <td><%= format.notes %></td>
    <td><%= link_to 'Show', format %></td>
    <td><%= link_to 'Edit', edit_format_path(format) %></td>
    <td><%= link_to 'Destroy', format, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New format', new_format_path %>
