<p>
  <b>Name:</b>
  <%= @format.name %>
</p>

<p>
  <b>Extension:</b>
  <%= @format.extension %>
</p>

<p>
  <b>Publish:</b>
  <%= @format.publish %>
</p>

<p>
  <b>Notes:</b>
  <%= @format.notes %>
</p>


<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
