<h1>Listing categorizations</h1>

<table>
  <tr>
    <th>Category</th>
    <th>Item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categorizations.each do |categorization| %>
  <tr>
    <td><%= categorization.category_id %></td>
    <td><%= categorization.item_id %></td>
    <td><%= link_to 'Show', categorization %></td>
    <td><%= link_to 'Edit', edit_categorization_path(categorization) %></td>
    <td><%= link_to 'Destroy', categorization, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New categorization', new_categorization_path %>
