<div id="pageFooterWrapper">
    <div id="pageFooter">
        <div class="columnWrapperFooter group">
            <div class="leftWrapperFooter">
                <ul class="footerNav">
                    <li>
                        <%= link_to(t(:about),about_path) %>
                    </li>
                    <li>
                        <%= link_to(t(:credits), credits_path) %>
                    </li>
                    <li>
                        <%= link_to(t(:permissions),permissions_path) %>
                    </li>
                    <li>
                        <%= link_to(t(:related_links),links_path) %>
                    </li>
                </ul>
            </div><!-- closes leftWrapperFooter -->
            <div class="rightWrapperFooter">
                <a class="noimage" href="http://www.harvard.edu" target="_blank">
                <img alt="Harvard Logo"  src="/images/harvard.gif"/></a>
                <p>
                    Copyright &copy; 2010  WWQI. <%= t(:all_rights_reserved)%>
                </p>
            </div><!-- closes rightWrapperFooter -->
        </div><!-- closes columnWrapperFooter group -->
    </div>
</div>