<div id="header">
  <div class="container">
    <h1><a href="/" title="back to home"><span><%=h t(:site_title) -%></span></a></h1>
    <span class="beta">beta</span>
    <div id="tools">
      <ul>
        <li><%= link_to(t(:contact),contact_path) %></li>
        <li><%= link_to(t(:faq),faq_path) %></li>
        <li><a class="lang" href="<%=language_url-%>"><%= t(:language_option) -%></a></li>
      </ul>
    </div>
    <div id="nav">
      <ul class="sortnav">
        <li> <%= link_to(t(:archive), archive_path, { :class=>"module-link" }) %></li>
        <li> <%= link_to(t(:collections), archive_collections_path, { :class=>"module-link" }) %></li>
        <li class="my-selections"> 
        	<% link_label = t(:my_archive) -%>
        	<% link_label += ' (' + localized_number(@my_archive_ids.size.to_s) + ')' unless @my_archive_ids.nil? || @my_archive_ids.empty? -%>
        	<%= link_to( link_label, archive_my_selections_path, :class=>"module-link" ) %>
        </li>
      </ul>
    </div>
  </div> <!-- end container -->
</div> <!-- end header -->