<% @page_description = t(:home_description) -%>
<% @page_title = t(:home).capitalize -%>
<% @extra_head_content = capture do %>
  <script type="text/javascript" src="/javascripts/jquery.cycle.all.2.72.js"></script>
  <%= raw which_script? -%>
<% end -%>
  
<div class="slide-wrap">
  <a href="<%= collections_path %>"><img id="slide-img-1" src="/images/slideshow1<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:welcome_message) %>" /></a>
  <a href="<%= collections_path %>"><img id="slide-img-2" src="/images/slideshow2<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:writings) %>" /></a>
  <a href="<%= collections_path %>"><img id="slide-img-3" src="/images/slideshow3<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:legal_documents) %>" /></a>
  <a href="<%= collections_path %>"><img id="slide-img-4" src="/images/slideshow4<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:photographs) %>" /></a>
  <a href="<%= collections_path %>"><img id="slide-img-5" src="/images/slideshow5<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:artworks) %>" /></a>
  <a href="<%= collections_path %>"><img id="slide-img-6" src="/images/slideshow6<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:everyday_objects) %>" /></a>
  <a href="<%= collections_path %>"><img id="slide-img-7" src="/images/slideshow7<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:oral_histories) %>" /></a>
  <a href="<%= collections_path %>"><img id="slide-img-7" src="/images/slideshow8<%= language_suffix -%>.jpg" class="slide" alt="<%= t(:explore_the_archive) %>" /></a>
</div>


<div id="featured">
  <div id="head">
    <h2><%= t(:featured_exhibits) %></h2>

    <ul class="dots">
      <!--<li><a href="#" class="active" id="firstFeature">1</a></li>
      <li><a href="#" id="secondFeature">2</a></li>
      <li><a href="#" id="thirdFeature">3</a></li>
      <li><a href="#" id="fourthFeature">4</a></li>-->
    </ul>
  </div>
  <div id="featuredContent" class="clearfix">
    <div id="featureContainer">
      <div class="featuredItem" style="background:url(/images/sheikh_feature.jpg) top left no-repeat">
        <%= link_to @featured_exhibit.title, exhibits_path %>
      </div>
      <!-- <div class="featuredItem" style="background:url(images/feature1.jpg) top left no-repeat">
          <a href="#"> Qajar Homes 2</a>
      </div>
      <div class="featuredItem" style="background:url(images/feature1.jpg) top left no-repeat">
          <a href="#"> Qajar Homes 3</a>
      </div>
      <div class="featuredItem" style="background:url(images/feature1.jpg) top left no-repeat">
          <a href="#"> Qajar Homes 4</a>
      </div> -->
    </div>
  </div>

</div><!-- end featured -->
<div id="about">
  <div id="head">
    <h2><%= t(:about_us) %></h2>
  </div>
  <div id="aboutContent" class="clearfix">
    <p><%= raw @about_page.caption %> <%= link_to t(:learn_more), about_url %></p>
  </div>
</div>