<% @page_description = t(:home_description) -%>
<% @page_title = t(:home).capitalize -%>


<% content_for :head do %>
  <%= render 'head_index_content' %>
<% end %>

<div id="home-main">
	<div class="slide-wrap">
	  <%= link_to(image_tag("/images/slideshow1#{language_suffix}.jpg", :id => "slide-img-1", :class => "slide", :alt => raw(t(:welcome_message))), archive_path) %>
	</div>
	<div class="home-right">
		<div id="about">
		  <div id="aboutContent" class="clearfix">
			<p><%= raw t(:home_welcome_message) %> <%= link_to t(:learn_more), about_url %></p>
		  </div>
		</div>
		<div id="home_search_wrapper">
			<h4><%= "#{t(:home_search_prompt_prefix)} #{localized_number(@image_count, true)} #{t(:home_search_prompt_suffix)}" %></h4>
		 		<div class="clearfix" id="simple_search">
					<form method="get" class="searchform" action="/archive/browser">
					  <input type="text" value="<%= t(:search_prompt) %>" name="keyword_filter" class="swap_value" id="s" style="color: rgb(170, 170, 170); " onfocus="if(this.value=='<%= t(:search_prompt) %>'){this.value='';this.style.color = '#000';}" onblur="if(this.value==''){this.value='<%= t(:search_prompt) %>';this.style.color = '#aaa';}" />
					  <button id="search" type="submit"></button>
					</form>
		 	</div>
		</div>	
	</div>
</div>

<div id="featured">
            	<div id="head"> 
               
                    <h2><%= t(:featured)%></h2>
                    <ul class="dots">
                        <li><a href="#" class="active" id="firstFeature"><%= t(:first) %></a></li>
                        <li><a href="#" id="secondFeature"><%= t(:second) %></a></li>	
                        <li><a href="#" id="thirdFeature"><%= t(:third) %></a></li>	
                        <li><a href="#" id="fourthFeature" ><%= t(:fourth) %></a></li>	
                    </ul>
                </div>
            	<div id="featuredContent" class="clearfix">
                	<div id="featureContainer" class="clearfix">
                		<% @collections.each do |collection| -%>
                        <div class="featuredItem">
							<div class="thumb">
								<img src="<%= collection.thumbnail_url %>" alt="<% collection.name %>" >
							</div>
							<div class="text">
								<a href="<%= archive_collection_detail_path(collection) %>"><%= truncate(collection.name, :length => 80) %></a>
								<% unless collection.caption.blank? -%><p><%= collection.caption %></p><% end -%>
                        	</div>
                        </div>
                        <% end -%>
                    </div>
                </div>
            
            </div>

