<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @section.title %>
</p>

<p>
  <b>Caption:</b>
  <%= @section.caption %>
</p>

<p>
  <b>Start page:</b>
  <%= @section.start_page %>
</p>

<p>
  <b>Start page label:</b>
  <%= @section.start_page_label %>
</p>

<p>
  <b>End page:</b>
  <%= @section.end_page %>
</p>

<p>
  <b>End page label:</b>
  <%= @section.end_page_label %>
</p>

<p>
  <b>Parent:</b>
  <%= @section.parent_id %>
</p>

<p>
  <b>Publish:</b>
  <%= @section.publish %>
</p>

<p>
  <b>Notes:</b>
  <%= @section.notes %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
