<%= form_for(:admin, @clip ) do |f| %>
  <% if @clip.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@clip.errors.count, "error") %> prohibited this clip from being saved:</h2>
    <ul>
    <% @clip.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_area :caption %>
  </div>
  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.text_field :item_id %>
  </div>
  <div class="field">
    <%= f.label :clip_type_id %><br />
    <%= f.text_field :clip_type_id %>
  </div>
  <div class="field">
    <%= f.label :publish %><br />
    <%= f.check_box :publish %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :recorded_on %><br />
    <%= f.date_select :recorded_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
