<div class="header">
  <div class="description">
    <h1><%= link_to controller.controller_name.capitalize, admin_clips_path  %> | Show </h1>
  </div>
  <div class="tools">
    <%= link_to 'Back', admin_clips_path %> |
    <%= link_to 'Edit', edit_admin_clip_path(clip) %> |
    <%= link_to 'Delete', admin_clip_path(clip), :method => :delete, :confirm => "Are you sure you want to delete this clip?" %> |
    <%= link_to "New", new_admin_clip_path %> |
    <%= link_to "Live Preview" , archive_detail_path(:id => clip.item.id), :title => clip.item.title, :target => "_blank" unless clip.item.nil? %>
  </div>
</div>