<% @page_description = t(:index_description) -%>
<% @page_title = controller.controller_name.capitalize -%>

<div id="staticContent" class="clearfix">
    <div class="onecolumn">
        <div class="content nomargin">
            <%= render :partial => 'admin/admin/nav_header_bar', :locals => {:new_passed_path => new_admin_clip_path, 
            	:show_all_path => admin_clips_path,
            	:export_passed_path => export_admin_clips_path(:format => :csv) } %>
            <table  class="global" width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <th><%= sort_link "Item id", 'item_id' %></th>
                    <th>Item Title</th>
                    <th><%= sort_link "Id", 'clips.id' %></th>
                    <th><%= sort_link "Title en", 'title_en' %></th>
                    <th><%= sort_link "Title fa", 'title_fa' %></th>
                    <th><%= sort_link "Clip Type", 'clip_types.name' %></th>
                    <th><%= sort_link "Updated on", 'clips.updated_at' %></th>
                    <th><%= sort_link "Position", 'clips.position' %></th>
                    <th><%= sort_link "Publish", 'clips.publish' %></th>
                    <th>Actions</th>
                </tr>
                <% @clips.each do |clip| %>
                <tr>
					<td><%= clip.item_id %>
                    <td><%= link_to( truncate(clip.item.title), admin_item_path(clip.item), :title => clip.item.title) unless clip.item.nil? %></td>
                    <td><%= clip.id %></td>
                    <td><%= truncate(clip.title_en) %></td>
                    <td class="persianOnly"><%= truncate(clip.title_fa) %></td>
                    <td><%= clip.clip_type.name %></td>
                    <td><%= clip.updated_at %></td>
                    <td><%= clip.position %></td>
                    <td><%= show_check(clip.publish) %></td>
                    <td><%= link_to image_tag("page_white_text.png", :alt => 'show'), admin_clip_path(clip) %> <%= link_to image_tag("page_white_edit.png", :alt => 'edit'), edit_admin_clip_path(clip) %> <%= link_to image_tag("delete.png", :alt => 'delete'), admin_clip_path(clip), :confirm => 'Are you sure?', :method => :delete %></td>
                </tr>
                <% end %>
            </table>
            <br class="clear" />
        </div>
    </div>
</div>