<h1>Listing clips</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Caption</th>
    <th>Item</th>
    <th>Clip type</th>
    <th>Publish</th>
    <th>Notes</th>
    <th>Recorded on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clips.each do |clip| %>
  <tr>
    <td><%= clip.title %></td>
    <td><%= clip.caption %></td>
    <td><%= clip.item_id %></td>
    <td><%= clip.clip_type_id %></td>
    <td><%= clip.publish %></td>
    <td><%= clip.notes %></td>
    <td><%= clip.recorded_on %></td>
    <td><%= link_to 'Show', admin_item_clip_path(clip) %></td>
    <td><%= link_to 'Edit', edit_admin_item_clip_path(clip) %></td>
    <td><%= link_to 'Destroy', admin_item_clip_path(clip), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clip', new_admin_item_clip_path %>
