<p class="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @clip.title %>
</p>

<p>
  <b>Caption:</b>
  <%= @clip.caption %>
</p>

<p>
  <b>Item:</b>
  <%= @clip.item_id %>
</p>

<p>
  <b>Clip type:</b>
  <%= @clip.clip_type_id %>
</p>

<p>
  <b>Publish:</b>
  <%= @clip.publish %>
</p>

<p>
  <b>Notes:</b>
  <%= @clip.notes %>
</p>

<p>
  <b>Recorded on:</b>
  <%= @clip.recorded_on %>
</p>


<%= link_to 'Edit', edit_admin_clip_path(@clip) %> |
<%= link_to 'Back', admin_clips_path %>
