<h1>Listing pages</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Author</th>
    <th>Caption</th>
    <th>Body</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.id %></td>
    <td><%= page.title %></td>
    <td><%= page.author  %></td>
    <td><%= page.caption %></td>
    <td><%= page.body %></td>
    <td><%= page.publish %></td>
    <td><%= page.notes %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
