<p>
  <b>Title:</b>
  <%= @exhibition.title %>
</p>

<p>
  <b>Caption:</b>
  <%= @exhibition.caption %>
</p>

<p>
  <b>Introduction:</b>
  <%= @exhibition.introduction %>
</p>

<p>
  <b>Conclusion:</b>
  <%= @exhibition.conclusion %>
</p>

<p>
  <b>Author:</b>
  <%= @exhibition.author %>
</p>

<p>
  <b>Display Date:</b>
  <%= @exhibition.display_date %>
</p>

<p>
  <b>Date:</b>
  <%= @exhibition.date %>
</p>

<p>
  <b>Featured:</b>
  <%= @exhibition.featured %>
</p>

<p>
  <b>Publish:</b>
  <%= @exhibition.publish %>
</p>

<p>
  <b>Position:</b>
  <%= @exhibition.position %>
</p>

<p>
  <b>Notes:</b>
  <%= @exhibition.notes %>
</p>


<%= link_to 'Edit', edit_admin_exhibition_path(@exhibition) %> |
<%= link_to 'Back', admin_exhibitions_path %>
