<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @era.title %>
</p>

<p>
  <b>Year:</b>
  <%= @era.year %>
</p>

<p>
  <b>Publish:</b>
  <%= @era.publish %>
</p>


<%= link_to 'Edit', edit_era_path(@era) %> |
<%= link_to 'Back', eras_path %>
