<% @page_description = t(:edit_description) -%>
<% @page_title = t(:classification).capitalize + ' | ' + t(:edit).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>

  <%= render 'form' %>

  <%= link_to 'Show', ['admin', @classification] %> |
  <%= link_to 'New', new_admin_classification_path %> |
  <%= link_to 'Back', admin_classifications_path %>
</div>
