<% @page_description = t(:show_description) -%>
<% @page_title = t(:classification).capitalize + ' | ' + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>

  <p>
    <b>Subject:</b>
    <%= link_to_unless @classification.subject.nil?, @classification.subject.to_label, admin_subject_path(@classification.subject) %>
  </p>

  <p>
    <b>Item:</b>
    <%= link_to_unless @classification.item.nil?, @classification.item.to_label, admin_item_path(@classification.item) %>
  </p>

  <p>
    <b>Publish:</b>
    <%= @classification.publish %>
  </p>

  <p>
    <b>Position:</b>
    <%= @classification.position %>
  </p>

  <p>
    <b>Notes:</b>
    <%= @classification.notes %>
  </p>


  <%= link_to 'Edit', edit_admin_classification_path(@classification) %>
   <%= link_to 'New', new_admin_classification_path %>
  <%= link_to 'Back', admin_classifications_path %>
</div>