<% @page_description = t(:show_description) -%>
<% @page_title = t(:classification).capitalize + ' | ' + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>

  <p>
    <b>Subject:</b>
    <%= @classification.subject_id %>
  </p>

  <p>
    <b>Item:</b>
    <%= @classification.item_id %>
  </p>

  <p>
    <b>Publish:</b>
    <%= @classification.publish %>
  </p>

  <p>
    <b>Position:</b>
    <%= @classification.position %>
  </p>

  <p>
    <b>Notes:</b>
    <%= @classification.notes %>
  </p>


  <%= link_to 'Edit', edit_classification_path(@classification) %>
   <%= link_to 'New', new_classification_path %>
  <%= link_to 'Back', classifications_path %>
</div>