<%= form_for([:admin, @comp]) do |f| %>
  <table class="global" width="80%" cellpadding="0" cellspacing="0">
    <tr>
      <td>
  <% if @comp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comp.errors.count, "error") %> prohibited this comp from being saved:</h2>

      <ul>
      <% @comp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_id %><br />
    <%= f.select :item_id, @items %>
  </div>
    <div class="field">
    <%= f.label :caption_en %><br />
    <%= f.text_field :caption_en %>
  </div>
    <div class="field">
    <%= f.label :caption_fa %><br />
    <%= f.text_field :caption_fa, :class => 'persianOnly' %>
  </div>
  <div class="field">
    <%= f.label :comp_id %><br />
    <%= f.text_field :comp_id %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :publish %><br />
    <%= f.check_box :publish %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </tr>
  </td>
  </table>
<% end %>
