<h1>Listing comps</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Comps</th>
    <th>Position</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comps.each do |comp| %>
  <tr>
    <td><%= comp.item_id %></td>
    <td><%= comp.comps_id %></td>
    <td><%= comp.position %></td>
    <td><%= comp.publish %></td>
    <td><%= comp.notes %></td>
    <td><%= link_to 'Show', comp %></td>
    <td><%= link_to 'Edit', edit_comp_path(comp) %></td>
    <td><%= link_to 'Destroy', comp, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comp', new_comp_path %>
