<% @page_description = t(:show_description) -%>
<% @page_title = t(:subject).pluralize.capitalize + ' | ' + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
  <p>
    <b>Name:</b>
    <%= @subject.name %>
  </p>

  <p>
    <b>Major:</b>
    <%= show_check @subject.major %>
  </p>

  <p>
    <b>Publish:</b>
    <%= show_check  @subject.publish %>
  </p>

  <p>
    <b>Notes:</b>
    <%= @subject.notes %>
  </p>


  <p><%= link_to 'Edit', edit_subject_path(@subject) %> |
    <%= link_to 'Back', subjects_path %> |
    <%= link_to 'New', new_subject_path  %></p>

</div>