<h1>Listing eras</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Publish</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @eras.each do |era| %>
  <tr>
    <td><%= era.title %></td>
    <td><%= era.year %></td>
    <td><%= era.publish %></td>
    <td><%= link_to 'Show', admin_era_path(era) %></td>
    <td><%= link_to 'Edit', edit_admin_era_path(era) %></td>
    <td><%= link_to 'Destroy', admin_era_path(era), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Era', new_admin_era_path %>
