<% @page_description = t(:show_description) -%>
<% @page_title = controller.controller_name.capitalize + " | " + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
    <div class="onecolumn">
        <%= render 'nav_show_header_bar', :era => @era %>
        <table class="styled" >
            <tr>
                <td>
                <p>
                    <b>Title:</b>
                    <%= @era.title %>
                </p>
                <p>
                    <b>Year:</b>
                    <%= @era.year %>
                </p>
                <p>
                    <b>Publish:</b>
                    <%= @era.publish %>
                </p>
                </td>
            </tr>
        </table>
        <%= render 'nav_show_header_bar', :era => @era %>
    </div>
</div>
