<% form_for([:admin, @collection]) do |f| %>

<% @default_rows = 6 %>
<table class="styled" >
    <tr>
        <td colspan="2">
        <%= f.error_messages %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :name, 'Name_en' %>
        <br />
        <%= f.text_field :name_en %>
        </td><td class="field persianOnly">
        <%= f.label :name, 'Name_fa' %>
        <br />
        <%= f.text_field :name_fa %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :sort_name, 'Sort Name_en' %>
        <br />
        <%= f.text_field :sort_name_en %>
        </td><td class="field persianOnly">
        <%= f.label :sort_name, 'Sort Name_fa' %>
        <br />
        <%= f.text_field :sort_name_fa %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :caption, 'Caption_en' %>
        <br />
        <%= f.text_area :caption_en, :rows => @default_rows %>
        </td><td class="field persianOnly">
        <%= f.label :caption, 'Caption_fa'  %>
        <br />
        <%= f.text_area :caption_fa, :rows => @default_rows %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :description, 'Description_en' %>
        <br />
        <%= f.text_area :description_en, :rows => @default_rows %>
        </td><td class="field persianOnly">
        <%= f.label :description, 'Description_fa' %>
        <br />
        <%= f.text_area :description_fa, :rows => @default_rows %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :creator, 'Creator_en' %>
        <br />
        <%= f.text_field :creator_en %>
        </td><td class="field persianOnly">
        <%= f.label :creator, 'Creator_fa' %>
        <br />
        <%= f.text_field :creator_fa %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :restrictions, 'Restrictions_en' %>
        <br />
        <%= f.text_area :restrictions_en, :rows => @default_rows %>
        </td><td class="field persianOnly">
        <%= f.label :restrictions, 'Restrictions_fa' %>
        <br />
        <%= f.text_area :restrictions_fa, :rows => @default_rows %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :history, 'History_en' %>
        <br />
        <%= f.text_area :history_en, :rows => @default_rows %>
        </td><td class="field persianOnly">
        <%= f.label :history, 'History_fa' %>
        <br />
        <%= f.text_area :history_fa, :rows => @default_rows %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :tips, 'Related Material_en' %>
        <br />
        <%= f.text_area :tips_en, :rows => @default_rows %>
        </td><td class="field persianOnly">
        <%= f.label :tips, 'Related Material_fa' %>
        <br />
        <%= f.text_area :tips_fa, :rows => @default_rows %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :materials, 'Materials_en' %>
        <br />
        <%= f.text_area :materials_en, :rows => @default_rows %>
        </td><td class="field persianOnly">
        <%= f.label :materials, 'Materials_fa' %>
        <br />
        <%= f.text_area :materials_fa, :rows => @default_rows %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :dates, 'Dates_en' %>
        <br />
        <%= f.text_field :dates_en %>
        </td><td class="field persianOnly">
        <%= f.label :dates, 'Dates_fa' %>
        <br />
        <%= f.text_field :dates_fa %>
        </td>
    </tr>
    <tr>
        <td class="field englishOnly">
        <%= f.label :repository, 'Repository_en' %>
        <br />
        <%= f.text_area :repository_en, :rows => @default_rows %>
        </td><td class="field persianOnly">
        <%= f.label :repository, 'Repository_fa' %>
        <br />
        <%= f.text_area :repository_fa, :rows => @default_rows %>
        </td>
    </tr>
    <tr>
        <th colspan="2"><h3>Untranslated Fields</h3></th>
    </tr>
    <div class="field englishOnly">
        <tr>
            <td>
            <%= f.label :acquired_by %>
            <br />
            <%= f.text_field :acquired_by %>
            </td>
            <td>
            <%= f.label :processed_by %>
            <br />
            <%= f.text_field :processed_by %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :acquired_on %>
            <br />
            <%= f.date_select :acquired_on, :start_year => 2010, :include_blank => true %>
            </td>
            <td>
            <%= f.label :acquisition_notes %>
            <br />
            <%= f.text_area :acquisition_notes, :rows => @default_rows %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :address %>
            <br />
            <%= f.text_field :address %>
            </td>
            <td>
            <%= f.label :address2 %>
            <br />
            <%= f.text_field :address2 %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :city %>
            <br />
            <%= f.text_field :city %>
            </td>
            <td>
            <%= f.label :state_province %>
            <br />
            <%= f.text_field :state_province %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :postal_code %>
            <br />
            <%= f.text_field :postal_code %>
            </td>
            <td>
            <%= f.label :telephone %>
            <br />
            <%= f.text_field :telephone %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :email %>
            <br />
            <%= f.text_field :email %>
            </td>
            <td>
            <%= f.label :website %>
            <br />
            <%= f.text_field :website %>
            </td>
        </tr>
        <tr>
            <td colspan="2">
            <%= f.label :contact %>
            <br />
            <%= f.text_field :contact %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :major %>
            <br />
            <%= f.check_box :major %>
            </td>
            <td>
            <%= f.label :publish %>
            <br />
            <%= f.check_box  :publish %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :finding_aid, 'Finding Aid:' %>
            <br />
            <%= f.check_box :finding_aid %>
            </td>
            <td>
            <%= f.label :private %>
            <br />
            <%= f.check_box :private %>
            </td>
        </tr>
        <tr>
            <td>
            <%= f.label :last_edited %>
            <br />
            <%= f.date_select  :last_edited, :start_year => 2010, :include_blank => true %>
            </td>
            <td>
            <%= f.label :notes %>
            <br />
            <%= f.text_area :notes, :rows => @default_rows %>
            </td>
        </tr>
        <tr>
            <td colspan="2">
            <div class="actions">
                <%= f.submit %>
            </div></td>
        </tr>
    </div>
</table>
<% end %>
