<%= form_for(@item) do |f| %>
  <%= f.error_messages %>

	<h2>Translated Information</h2>

  <div class="field englishOnly">
    <%= f.label :title_en %><br />
    <%= f.text_area :title_en, :rows => 3 %>
  </div>
  <div class="field persianOnly">
    <%= f.label :title_fa %><br />
    <%= f.text_area :title_fa, :rows => 3 %>
  </div>

  <div class="field englishOnly">
    <%= f.label :credit_en %><br />
    <%= f.text_area :credit_en, :rows => 3 %>
  </div>
  <div class="field persianOnly">
    <%= f.label :credit_fa %><br />
    <%= f.text_area :credit_fa, :rows => 3 %>
  </div>

  <div class="field englishOnly">
    <%= f.label :description_en %><br />
    <%= f.text_area :description_en, :rows => 5 %>
  </div>
  <div class="field persianOnly">
    <%= f.label :description_fa %><br />
    <%= f.text_area :description_fa, :rows => 5 %>
  </div>

  <div class="field englishOnly">
    <%= f.label :creator_label_en %><br />
    <%= f.text_field :creator_label_en, :size => 55 %>
  </div>
  <div class="field persianOnly">
    <%= f.label :creator_label_fa %><br />
    <%= f.text_field :creator_label_fa, :size => 55 %>
  </div>

  <div class="field englishOnly">
    <%= f.label :display_date_en %><br />
    <%= f.text_field :display_date_en %>
  </div>
  <div class="field persianOnly">
    <%= f.label :display_date_fa %><br />
    <%= f.text_field :display_date_fa %>
  </div>

	<h2>Translated Relationships</h2>
	
  <div class="field">
    <%= f.label :creator_id %><br />
    <%= f.select :creator_id, Person.select_list, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= f.select :owner_id, Owner.select_list, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :collection_id %><br />
    <%= f.select :collection_id, Collection.select_list, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :period_id %><br />
    <%= f.select :period_id, Period.select_list, {:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.select :place_id, Place.select_list, {:include_blank => true } %>
  </div>

	<h2>English Only Fields</h2>
	
  <div class="field englishOnly" >
    <%= f.label :accession_num %><br />
    <%= f.text_area :accession_num, :class => "englishOnly", :rows => 3 %>
  </div>

  <div class="field englishOnly">
    <%= f.label :olivia_id %><br />
    <%= f.text_area :olivia_id, :rows => 3, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :urn %><br />
    <%= f.text_area :urn, :rows => 3, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :pages %><br />
    <%= f.text_field :pages, :size => 5, :class => "englishOnly" %>
  </div>

  <div class="field englishOnly">
    <%= f.label :source_date %> (use with calendar type below)<br />
    <%= f.text_field :source_date, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :calendar_type_id %><br />
    <%= f.select :calendar_type_id, CalendarType.select_list, {:include_blank => true}, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :sort_date %> (YYYY-MM-DD Gregorian)<br />
    <%= f.text_field :sort_date, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :width %><br />
    <%= f.text_field :width, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :height %><br />
    <%= f.text_field :height, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :depth %><br />
    <%= f.text_field :depth, :class => "englishOnly" %>
  </div>
  <div class="field englishOnly">
    <%= f.label :length %> (special case: i.e. long thin objects)<br />
    <%= f.text_field :length, :class => "englishOnly" %>
  </div>
  <div class="field">
    <%= f.label :circa %><br />
    <%= f.check_box :circa %>
  </div>
  <div class="field">
    <%= f.label :bound %><br />
    <%= f.check_box :bound %>
  </div>
  <div class="field">
    <%= f.label :publish %><br />
    <%= f.check_box :publish %>
  </div>
  <div class="field englishOnly">
    <%= f.label :notes %><br />
    <%= f.text_area :notes, :class => "englishOnly", :rows => 3 %>
  </div>
	<div class="actions">
	  <%= f.submit %>
	</div>
  <hr />
  <p>
    <b>Subjects</b>
  </p>
  <% counter = 1 -%>
  <% @subjects = Subject.all(:include => 'subject_type', :order => 'subject_types.id, subject_translations.name') -%>
  <table class="styled">
    <tr>
      <% @subjects.each do |subject| -%>
        <% unless @current_type == subject.subject_type_id -%>
          <% @current_type = subject.subject_type_id  -%>
          <% if counter > 1 %>
          </tr>
          <% counter = 1 %>
        <% end -%>
        <td colspan="5"><strong><%=  subject.subject_type.name %></strong></td></tr><tr>
    <% end -%>
    <% if counter == 6 -%>
    </tr>
    <tr>
      <% counter = 1 -%>
    <% end -%>
    <td>
      <input type="checkbox"
             id="<%=subject.id%>"
             name="subject_ids[]"
             value="<%=subject.id %>"
             <%  if @item.subjects.include? subject -%>
               checked="checked"
             <% end -%>
						/> <%= truncate(subject.name) %>
    </td>
    <% counter += 1 -%>
  <% end -%>
</tr>
</table>
<hr />
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
