<% @page_description = t(:index_description) -%>
<% @page_title = t(:item).pluralize.capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= t(:item).pluralize.capitalize %></h1>
  <%= render :partial => 'toolbar' %>
  <table class="styled">
    <tr>
      <th>Title</th>
      <th>Accession num</th>
      <th>Collection</th>
      <th>Pages</th>
      <th>Publish</th>
      <th>Actions</th>
    </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= link_to truncate(item.title), item, :title => item.title %></td>
      <td><%= truncate(item.accession_num, :length => 50) %></td>
      <td><%= truncate(item.collection.name) unless item.collection.nil? %></td>
      <td><%= item.pages %></td>
      <td><%= show_check item.publish %></td>
      <td><%= link_to image_tag("page_white_text.png", :alt => 'show'), item %> <%= link_to image_tag("page_white_edit.png", :alt => 'edit'), edit_item_path(item) %> <%= link_to image_tag("delete.png", :alt => 'delete'), item, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>
  <p>&nbsp;</p>
  <%= render :partial => 'toolbar' %>
</div>
