<% @page_description = t(:show_description) -%>
<% @page_title = t(:item).pluralize.capitalize + " | " + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
  <table class="styled" >
    <tr><th>
        <%= link_to 'Edit', edit_item_path(@item) %> |
				<%= link_to 'Delete', @item, :method => :delete, :confirm => "Are you sure you want to delete this item?" %> |
        <%= link_to 'Back', items_path %> | <%= link_to "New", new_item_path %></th></tr>
    <tr><td><h2>
          <%= image_tag @item.thumbnail_url, :align => 'right', :width => 50 -%>  <%= @item.title %>
        </h2></td></tr>
    <tr><td>
        <b>Publish:</b>
        <%= @item.publish %>
      </td></tr>
    <tr><td>
        <b>Accession num:</b>
        <%= @item.accession_num %>
      </td></tr>

    <tr><td>
        <b>Credit</b>
        <%= @item.credit %>
      </td></tr>

    <tr><td>
        <b>Description:</b>
        <%= @item.description %>
      </td></tr>

    <tr><td>
        <b>Olivia:</b>
        <%= @item.olivia_id %>
      </td></tr>

    <tr><td>
        <b>Urn:</b>
        <%= @item.urn %>
      </td></tr>

    <tr><td>
        <b>Creator:</b>
        <%= @item.creator.name unless @item.creator.nil? %>
      </td></tr>

    <tr><td>
        <b>Owner:</b>
        <%= @item.owner.name unless @item.owner.nil? %>
      </td></tr>

    <tr><td>
        <b>Collection:</b>
        <%= @item.collection.name unless @item.collection.nil? %>
      </td></tr>

    <tr><td>
        <b>Pages:</b>
        <%= @item.pages %>
      </td></tr>

    <tr><td>
        <b>Format:</b>
        <%= @item.format_id %>
      </td></tr>

    <tr><td>
        <b>Display date:</b>
        <%= @item.display_date %>
      </td></tr>

    <tr><td>
        <b>Sort date:</b>
        <%= @item.sort_date %>
      </td></tr>

    <tr><td>
        <b>Dimensions:</b>
        <%= @item.dimensions %>
      </td></tr>

    <tr><td>
        <b>Notes:</b>
        <%= @item.notes %>
      </td></tr>

    <tr><td>
        <b>Place:</b>
        <%= @item.place.name unless @item.place.nil? %>
      </td></tr>
    <hr />
    <tr><td>
        <b>Subjects:</b></td>
    </tr>
    <tr>
      <% counter = 1 -%>
      <% @subjects = @item.subjects -%>
      <table class="styled">
        <tr>
          <% @subjects.each do |subject| -%>
            <% unless @current_type == subject.subject_type_id -%>
              <% @current_type = subject.subject_type_id  -%>
              <% if counter > 1 %>
              </tr>
              <% counter = 1 %>
            <% end -%>
            <td colspan="5"><strong>--<%=  subject.subject_type.name %></strong></td></tr><tr>
            <% end -%>
            <% if counter == 6 -%>
            </tr>
            <tr>
              <% counter = 1 -%>
            <% end -%>
            <td>
              <%= subject.name %>
            </td>
            <% counter += 1 -%>
          <% end -%>
        </tr>
      </table>
    </tr>
    <tr><td>    <div>
          <%= render :partial => 'zoomify' %>
        </div>
      </td></tr>
  </table>
</div>

