<% @page_description = t(:show_description) -%>
<% @page_title = t(:item).capitalize + " | " + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
  <h1><%= @page_title %></h1>
  <%= render 'show_toolbar', :item => @item %>
  <table class="styled" >
    <tr><td><h2>
          <%= @item.title_en %>
        </h2></td>
      <td><h2>
          <%= @item.title_fa %>
        </h2></td></tr>
    <tr>
      <td colspan="2">
        <p>Media (right click links to download):</p>
        <ul>
        <li>thumbnail: <%= link_to "Thumbnail", @item.thumbnail_url, :target => "_blank" %></li>
        <li>slide: <% @item.slide_urls.each_with_index do |url, page| %><%= link_to "p" + (page + 1).to_s, url, :target => "_blank" %> <% end %></li>
        <li>preview: <% @item.preview_urls.each_with_index do |url, page| %><%= link_to "p" + (page + 1).to_s, url, :target => "_blank" %> <% end %></li>
        <li>tif: <% @item.tif_urls.each_with_index do |url, page| %><%= link_to "p" + (page + 1).to_s, url, :target => "_blank" %> <% end %></li>
        </ul>
      </td>
    </tr>
    <tr><td>
        <b>Credit_en:</b>
        <%= @item.credit_en %>
      </td>
      <td>
        <b>Credit_fa:</b>
        <%= @item.credit_fa %>
      </td></tr>
    <tr><td>
        <b>Creator_en:</b>
        <%= @item.creator.name_en unless @item.creator.nil? %>
      </td><td>
        <b>Creator_fa:</b>
        <%= @item.creator.name_fa unless @item.creator.nil? %>
      </td></tr>
    <tr><td>
        <b>Description_en:</b>
        <%= @item.description_en %>
      </td><td>
        <b>Description_fa:</b>
        <%= @item.description_fa %>
      </td></tr>
    <tr>
      <td>
        <b>Display date_en:</b>
        <%= @item.display_date_en %>
      </td>
      <td>
        <b>Display date_fa:</b>
        <%= @item.display_date_fa %>
      </td>
    </tr>
    <tr><td>
        <b>Publisher_en:</b>
        <%= @item.publisher_en %>
      </td><td>
        <b>Publisher_fa:</b>
        <%= @item.publisher_fa %>
      </td></tr>
    <tr>
      <td colspan="2">
        <h3>Translated Relationships</h3>
      </td>
    </tr>
    <tr><td>
        <b>Owner_en:</b>
        <%= @item.owner.name_en unless @item.owner.nil? %>
      </td><td>
        <b>Owner_fa:</b>
        <%= @item.owner.name_fa unless @item.owner.nil? %>
      </td></tr>
    <tr><td>
        <b>Collection_en:</b>
        <%= @item.collection.name_en unless @item.collection.nil? %>
      </td><td>
        <b>Collection_fa:</b>
        <%= @item.collection.name_fa unless @item.collection.nil? %>
      </td></tr>
    <tr><td>
        <b>Place of origin_en:</b>
        <%= @item.place.name_en unless @item.place.nil? %>
      </td><td>
        <b>Place of origin_fa:</b>
        <%= @item.place.name_fa unless @item.place.nil? %>
      </td></tr>
    <tr><td colspan="2"><h3>Untranslated Fields</h3></td></tr>
    <tr><td>
        <b>Accession num:</b>
        <%= @item.accession_num %>
      </td>
      <td>
        <b>Urn:</b>
        <%= @item.urn %>
      </td></tr>
    <tr><td>
        <b>Pages:</b>
        <%= @item.pages %>
      </td>
      <td>
        <b>Bound:</b>
        <%= @item.bound %>
      </td></tr>
    <tr><td>
        <b>Source date:</b>
        <%= @item.source_date %>
      </td><td>
        <b>Calendar Type:</b>
        <%= @item.calendar_type.name unless @item.calendar_type_id.nil? %>
      </td></tr>
    <tr><td>
        <b>Sort date:</b>
        <%= @item.sort_date %>
      </td><td>
        <b>Circa:</b>
        <%= @item.circa %>
      </td></tr>
    <tr><td>
        <b>Width:</b>
        <%= @item.width %>
      </td><td>
        <b>Height:</b>
        <%= @item.height %>
      </td></tr>

    <tr><td>
        <b>Depth:</b>
        <%= @item.depth %>
      </td><td>
        <b>Length:</b>
        <%= @item.length %>
      </td></tr>
    <tr><td>
        <b>Staff Favorite:</b>
        <%= @item.favorite %>
      </td>
      <td>
        <b>Publish:</b>
        <%= @item.publish %>
      </td></tr>
    <tr><td colspan="2">
        <b>Notes:</b>
        <%= @item.notes %>
      </td></tr>

  </table>

  <div id="item_subject_list"><%= render 'items/item_subject_list', :subjects => @item.subjects %></div>
  
  <div id="item_passport_list"><%= render('items/item_passport_list', :passports => @item.passports ) unless @item.passports.empty? %></div>
  <div id="addPassport">
    <% if @passport.nil? %>
      <%= render :partial => 'items/add_passport_button', :locals => { :item => @item } %>
    <% else %>
      <%= render 'items/add_passport_form', @passport %>
    <% end %>
  </div>
  
  <%= render 'show_toolbar', :item => @item %>
</div>

