<h1>Listing categories</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Parent</th>
    <th>Position</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.id  %></td>
    <td><%= category.name %></td>
    <td><%= truncate(category.description) if category.description %></td>
    <td><%= category.parent_id %></td>
    <td><%= category.position %></td>
    <td><%= category.publish %></td>
    <td><%= category.notes %></td>
    <td><%= link_to 'Show', admin_category_path(category) %></td>
    <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Destroy', admin_category_path(category), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_admin_category_path %>
