<h1>Listing media</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Position</th>
    <th>Publish</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @media.each do |medium| %>
  <tr>
    <td><%= medium.name %></td>
    <td><%= medium.description %></td>
    <td><%= medium.position %></td>
    <td><%= medium.publish %></td>
    <td><%= medium.notes %></td>
    <td><%= link_to 'Show', medium %></td>
    <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
    <td><%= link_to 'Destroy', medium, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New medium', new_medium_path %>
