<% @page_description = t(:index_description) -%>

<div id="staticContent" class="clearfix">
  <div class="onecolumn">
    <div class="content nomargin">
      <%= render :partial => 'admin/admin/nav_header_bar', :locals => {:new_passed_path => new_admin_owner_path, :show_all_path => admin_owners_path } %>
      <table class="global" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <th>Name</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Url</th>
          <th>Private</th>
          <th>Actions</th>
        </tr>

        <% @owners.each do |owner| %>
          <tr>
            <td><%= link_to owner.name, admin_owner_path(owner) %></td>
            <td><%= owner.telephone %></td>
            <td><%= mail_to owner.email,owner.email unless owner.email.blank? %></td>
            <td><%= link_to owner.url,owner.url unless owner.url.nil? %></td>
            <td><%= show_check(owner.private) %></td>
            <td><%= link_to image_tag("page_white_text.png", :alt => 'show'), admin_owner_path(owner) %> <%= link_to image_tag("page_white_edit.png", :alt => 'edit'), edit_admin_owner_path(owner) %> <%= link_to image_tag("delete.png", :alt => 'delete'), admin_owner_path(owner), :confirm => 'Are you sure?', :method => :delete %></td>
          </tr>
        <% end %>
      </table>
      <br class="clear" />
    </div>
  </div>
</div>

