<div class="header">
  <div class="description">
    <h1><%= link_to controller.controller_name.capitalize, admin_people_path  %> | Show </h1>
  </div>
  <div class="tools">
    <%= link_to 'Back', session[:admin_people_index_url] ||= admin_people_path %> |
    <%= link_to 'Edit', edit_admin_person_path(person) %> |
    <%= link_to 'Delete', admin_person_path(person), :method => :delete, :confirm => "Are you sure you want to delete this person?" %> |
    <%= link_to "New", new_admin_person_path %>
  </div>
</div>