<h1>Listing appearances</h1>

<table>
  <tr>
    <th>Item</th>
    <th>Person</th>
    <th>Publish</th>
    <th>Position</th>
    <th>Caption</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appearances.each do |appearance| %>
  <tr>
    <td><%= appearance.item_id %></td>
    <td><%= appearance.person_id %></td>
    <td><%= appearance.publish %></td>
    <td><%= appearance.position %></td>
    <td><%= appearance.caption %></td>
    <td><%= appearance.notes %></td>
    <td><%= link_to 'Show', admin_appearance_path(appearance) %></td>
    <td><%= link_to 'Edit', edit_admin_appearance_path(appearance) %></td>
    <td><%= link_to 'Destroy', admin_appearance_path(appearance), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appearance', new_admin_appearance_path %>
