<% @page_description = t(:show_description) -%>
<% @page_title = controller.controller_name.humanize + ' | ' + t(:show).capitalize -%>

<div id="staticContent" class="clearfix">
    <div class="onecolumn">
        <%= render 'nav_show_header_bar', :image => @image %>
        <table class="styled" >
            <tr>
                <td>
                <p>
                    <b>Title en:</b>
                    <%= @image.title_en %>
                </p>
                <p>
                    <b>Title fa:</b>
                    <%= @image.title_fa %>
                </p>
                <p>
                    <b>Description en:</b>
                    <%= @image.description_en %>
                </p>
                <p>
                    <b>Description fa:</b>
                    <%= @image.description_fa %>
                </p>                
                <p>
                    <b>Width:</b>
                    <%= @image.width %>
                </p>
                <p>
                    <b>Depth:</b>
                    <%= @image.depth %>
                </p>
                <p>
                    <b>Height:</b>
                    <%= @image.height %>
                </p>
                <p>
                    <b>Verso:</b>
                    <%= @image.verso %>
                </p>
                <p>
                    <b>Position:</b>
                    <%= @image.position %>
                </p>
                <p>
                    <b>Notes:</b>
                    <%= @image.notes %>
                </p>
                <p>
                    <b>Publish:</b>
                    <%= @image.publish %>
                </p>
                </td>
            </tr>
        </table>
    </div>
</div>

