<div id="menu_wrapper">

    <ul class="nav">
        <li>
            <%= link_to "Admin Home", "/admin" %>
        </li>
        <li>
            <%= link_to "Items", admin_items_path %>
        </li>
        <li>
            <%= link_to "Collections", admin_collections_path %>
        </li>
        <li>
            <%= link_to "Clips", admin_clips_path %>
        </li>
        <li>
            <%= link_to "People", admin_people_path %>
        </li>
        <li>
            <%= link_to "Places", admin_places_path  %>
        </li>
        <li>
            <%= link_to "Subjects", admin_subjects_path  %>
        </li>
        <li>
            <%= link_to "Reference...", "#" %>
            <div class="popup">
                <div class="top">
                </div>
                <div class="content">
                    <ul class="submenu">
                        <li>
                            <%= link_to "Calendar Types", admin_calendar_types_path  %>
                        </li>
                        <li>
                            <%= link_to "Clip Types", admin_clip_types_path %>
                        </li>
                        <li>
                            <%= link_to "Comps", admin_comps_path %>
                        </li>
                        <li>
                            <%= link_to "Eras", admin_eras_path %>
                        </li>
                        <li>
                            <%= link_to "Exhibitions", admin_exhibitions_path %>
                        </li>
                        <li>
                            <%= link_to "Months", admin_months_path  %>
                        </li>
                        <li>
                            <%= link_to "Owners", admin_owners_path  %>
                        </li>
                        <li>
                            <%= link_to "Pages", admin_pages_path %>
                        </li>
                        <li>
                            <%= link_to "Passports", admin_passports_path %>
                        </li>
                        <li>
                            <%= link_to "Periods", admin_periods_path  %>
                        </li>
                        <li>
                            <%= link_to "Plots", admin_plots_path  %>
                        </li>
                        <li>
                            <%= link_to "Repositories", admin_repositories_path  %>
                        </li>
                        <li>
                            <%= link_to "Sections", admin_sections_path %>
                        </li>
                        <li>
                            <%= link_to "Subject Types", admin_subject_types_path  %>
                        </li>
                        <li>
                            <%= link_to "Translations", admin_translations_path %>
                        </li>
                        <li>
                            <%= link_to "Utilities", admin_utilities_path %>
                        </li>
                    </ul>
                    <br class="clear"/>
                </div>
                <div class="footer">
                </div>
            </div>
        </li>
    </ul>
</div>