<p class="notice"><%= notice %></p>

<p>
  <b>Exhibition:</b>
  <%= @panel.exhibition_id %>
</p>

<p>
  <b>Item:</b>
  <%= @panel.item_id %>
</p>

<p>
  <b>Position:</b>
  <%= @panel.position %>
</p>

<p>
  <b>Publish:</b>
  <%= @panel.publish %>
</p>

<p>
  <b>Caption:</b>
  <%= @panel.caption %>
</p>

<p>
  <b>Notes:</b>
  <%= @panel.notes %>
</p>


<%= link_to 'Edit', edit_admin_panel_path(@panel) %> |
<%= link_to 'Back', admin_panels_path %>
