<div id="filterOptions">
  <a class="filter" id="filterStatus" href="#"><strong class="filter">Search Filters</strong></a>
  <a class="filter" id="byGenre" href="#"><%= t(:genre).capitalize %>: <span><%= truncate(@subject_type_filter_label.capitalize) %></span></a>
  <a class="filter" id="byPeriod" href="#"><%= t(:period).capitalize %>: <span><%= truncate(@period_filter_label.capitalize) %></span></a>
  <a class="filter" id="byCollection" href="#"><%= t(:collection).capitalize %>: <span><%= truncate(@collection_filter_label.capitalize) %></span></a>
</div>
<div id="filtersPanel">
  <form method="get" action="/archive/browser" id="archive_browse_filter">
    <div id="genreFilter">
      <ul>
        <li class="selectAll"><input type="checkbox"  name="subject_type_filter[]" value="all" /><label for="">All</label></li>
      </ul>
      <ul class="genreFilterList">
        <% subject_types.each do |subject_type|  %>
        <li><input type="checkbox"  name="subject_type_filter[]" value="<%= subject_type.id %>" /><label for=""><%= subject_type.name %></label></li>
        <% end %>
      </ul>
    </div>
    <div id="periodFilter">
      <ul>
        <li class="selectAll"><input type="checkbox" name="period_filter[]" value="all" /><label for="">All</label></li>
      </ul>
      <ul class="periodFilterList">
        <% periods.each do |period|  %>
        <li><input type="checkbox" name="period_filter[]" value="<%= period.id %>" /><label for=""><%= period.title %></label></li>
        <% end %>
      </ul>
    </div>
    <div id="collectionFilter">
      <ul>
        <li class="selectAll"><input type="checkbox" name="collection_filter[]" value="all" /><label for="">All</label></li>
      </ul>
      <ul class="collectionFilterList">
        <% collections.each do |collection| %>
        <li><input type="checkbox"  name="collection_filter[]" value="<%= collection.id %>" /><label for=""><%= collection.name %></label></li>
        <% end %>
      </ul>
    </div>
  </form>
  <div id="filterPanelButtonBar">
    <a id="cancelFilters" class="blackButton" href="#">Close</a>
    <a id="submitFilters" class="redButton" href="#">Search</a>
  </div>

</div>