<div id="filterOptions">
  <a class="filter" id="filterStatus" href="#"><strong class="filter">Search Filters</strong></a>
  <a class="filter" id="byGenre" href="#"><%= t(:genre).capitalize %>: <span><%= truncate(@subject_filter_label.titleize) %></span></a>
  <a class="filter" id="byPeriod" href="#"><%= t(:period).capitalize %>: <span><%= truncate(@period_filter_label.titleize) %></span></a>
  <a class="filter" id="byCollection" href="#"><%= t(:collection).capitalize %>: <span><%= truncate(@collection_filter_label.titleize) %></span></a>
</div>
<div id="filtersPanel">
  <form method="get" action="/archive/browser" id="archive_browse_filter">
    <div id="genreFilter">
      <ul>
        <li class="selectAll">
          <input type="checkbox"
                 name="subject_filter[]"
                 value="all"
                 <%= @subject_filter.include?('all') ? 'checked="yes"' : "" unless @subject_filter.nil? -%>
                 />
          <label for="">All</label>
        </li>
      </ul>
      <ul class="genreFilterList">
        <% subject_type.subjects.each do |subject|  %>
          <li><input type="checkbox"
                     name="subject_filter[]"
                     value="<%= subject.id %>"
                     <%= @subject_filter.include?(subject.id.to_s) ? 'checked="yes"' : "" unless @subject_filter.nil? -%>
                     />
            <label for=""><%= subject.name %></label>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="periodFilter">
      <ul>
        <li class="selectAll">
          <input type="checkbox"
                 name="period_filter[]"
                 value="all"
                 <%= @period_filter.include?('all') ? 'checked="yes"' : "" unless @period_filter.nil? -%>
                 />
          <label for="">All</label>
        </li>
      </ul>
      <ul class="periodFilterList">
        <% periods.each do |period|  %>
          <li>
            <input type="checkbox"
                   name="period_filter[]"
                   value="<%= period.id %>"
                   <%= @period_filter.include?(period.id.to_s) ? 'checked="yes"' : "" unless @period_filter.nil? -%>
                   />
            <label for=""><%= period.title %></label>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="collectionFilter">
      <ul>
        <li class="selectAll">
          <input type="checkbox"
                 name="collection_filter[]"
                 value="all"
                 <%= @collection_filter.include?('all') ? 'checked="yes"' : "" unless @collection_filter.nil? -%>
                 />
          <label for="">All</label>
        </li>
      </ul>
      <ul class="collectionFilterList">
        <% collections.each do |collection| %>
          <li>
            <input type="checkbox"
                     name="collection_filter[]"
                     value="<%= collection.id %>"
                     <%= @collection_filter.include?(collection.id.to_s) ? 'checked="yes"' : "" unless @collection_filter.nil? -%>
                     />
            <label for=""><%= collection.name %></label>
          </li>
        <% end %>
      </ul>
    </div>
  </form>
  <div id="filterPanelButtonBar">
    <a id="cancelFilters" class="blackButton" href="#">Close</a>
    <a id="submitFilters" class="redButton" href="#">Search</a>
  </div>

</div>