<div id="search-result-tools">
    <a class="redButton right actions-dropdown-button"><%= t(:selection_action_button).titleize %></a>
    <div class="actions-dropdown">
        <a href="#" id="add-to-my-selections"><%= t(:add_to_my_archive) %></a>
        <a href="#" id="email-items"><%= t(:email_citation) %></a>
        <a href="#" id="download-items"><%= t(:download_citation) %></a>
    </div>
</div>
<h2><% if items.empty? -%>
<%= t(:showing_no_records) -%>
<% else -%>
<%= raw format_results_message(items, query_labels) %>
<% end -%></h2>