	<% unless @reset -%>
<h3 class="active"><%= link_to t(:collections).titleize, archive_collections_path, :title => 'A group of items.' %></h3>
<div class="list" style="display:block">
	<% else -%>
<h3><%= link_to t(:collections).titleize, archive_collections_path, :title => 'A group of items.' %></h3>
<div class="list">
	<% end -%>
    <ul class="default">
        <% @top_collections.each do |collection| -%>
        <li>
            <%= link_to truncate(collection.name, :length => 50), archive_browser_path('collection_filter[]'=>collection.id),
            :class => (collection.id.to_s == @collection_filter) ? 'active' : '' %>
            <span>(<%= localized_number(collection.items_count(@reset ? nil : @item_ids)) %>)</span>
            <%= link_to t(:collection_info), archive_collection_detail_path(:id => collection.id), :class => "collectionInfoLink" %>
        </li>
        <% end -%>
    </ul>
    <% if @collections.size > ARCHIVE_REFINE_RESULTS_TOP_SHOW_LIMIT -%>
    <ul class="more">
        <% @collections.limit(ARCHIVE_REFINE_RESULTS_MORE_SHOW_LIMIT).each do |collection| -%>
        <li>
            <%= link_to truncate(collection.name, :length => 50), archive_browser_path('collection_filter[]'=>collection.id),
            :class => (collection.id.to_s == @collection_filter) ? 'active' : '' %>
            <span>(<%= localized_number(collection.items_count(@reset ? nil : @item_ids)) %>)</span>
            <%= link_to t(:collection_info), archive_collection_detail_path(:id => collection.id), :class => "collectionInfoLink" %>
        </li>
        <% end -%>
        <li>
            <%= link_to t(:browse_collections), archive_collections_path, :class => "seeAllLink" %>
        </li>
    </ul>
    <%= link_to t(:see_more), archive_collections_path, :class => "moreLink" %>
    <% end -%>
</div>