<div id="email-popup" style="display:none;">
    <div id="print-popup-content" style="padding:20px;color:#fff;">
        <h2><%= t(:email).titleize %></h2>
        <p>
            <%= t(:email_popup_prompt) %>
        </p>
        <form href="<%= archive_detail_email_path %>" method="POST" >
            <div class="form_row">
                <%= t(:from_email) %> <span class="mandatory">*</span>
                <br />
                <input type="input" name="from" size=70 />
            </div>
            <div class="form_row">
                <%= t(:to_email) %>  <span class="mandatory">*</span>
                <br />
                <input type="input" name="to" size=70 />
            </div>
            <div class="form_row">
                <%= t(:note) %>
                <br />
                <textarea rows=3 cols=76 name="body"></textarea>
            </div>
            <div class="form_row">
                <%= t(:citation_preview) %>
                <br />
                <textarea rows=5 cols=76 name="citations" disabled="true" ><%= items.map { |i| h(i.full_citation) }.join("\n\n") %></textarea>
            </div>
            <div class="form_row">
                <input type="submit" class="redButton" value="<%= t(:email) %>" >
            </div>
        </form>
    </div>
</div>