<div id="itemPreview" style="height:auto">
    <span class="image-count"><%= localized_number(item.pages) + " " + (item.pages == 1 ? t(:image) : t(:images)) %></span>
    <img src="<%= item.thumbnail_url %>" alt="<%= item.title %>">
    <a href="<%= item.slide_url(1) %>" rel="shadowbox[gallery]" title="<%= item.image_caption %>" class="redButton"><%= t(:view_in_lightbox) %></a>
    <% (2..item.pages).each do |page| %>
    <a href="<%= item.slide_url(page) %>" title="<%= format_item_image_caption(item, page) %>" rel="shadowbox[gallery]"></a>
    <% end %>

    <%= link_to t(:view_in_zoomify).titleize, "#zoomify-popup", :class => "redButton", :rel=>"shadowbox[zoomify];width=750px;height=510px;" %>
    <a rel="shadowbox[print];width=310px;height=260px;" href="#print-popup" class="textButton"><img class="icon" src="/images/ico_print.gif" ><%= t(:download_pdf).titleize %></a>

	<a rel="shadowbox[email];width=450px;height=455px;" href="#email-popup" class="textButton"><img class="icon" src="/images/ico_email.gif" >  <%= t(:email_citation).titleize %></a>
	<a href="<%= archive_detail_download_path(item) %>" class="textButton"><img class="icon" src="/images/ico_download.gif" >  <%= t(:download_images).titleize %></a>
    <% unless item.transcript_en.blank? -%>
    <a href="#" class="textButton"> <img src="/images/ico_transcript.gif"> <%= t(:transcript).titleize %> </a>
    <% end %>
    <% unless item.transcript_fa.blank? -%>
    <a href="#" class="textButton"> <img src="/images/ico_translation.gif"> <%= t(:translation).titleize %> </a>
    <% end -%>
	
    <% if @my_archive_ids.include?(item.id) -%>
	<a href="<%= archive_detail_forget_path(item) %>" class="textButton"><img class="icon" src="/images/ico_remove.gif" >  <%= t(:remove_from_my_archive) %></a>
    <% else -%>
	<a href="<%= archive_detail_remember_path(item) %>" class="textButton"><img class="icon" src="/images/ico_add.gif" >  <%= t(:add_to_my_archive) %></a>
    <% end -%>
</div>