<div id="zoomify-popup" style="<%= hide ? 'display:none;' : '' %>">
    <div id="zoomify-popup-content" style="padding:20px;color:#fff;">
    	<% if full_screen -%>
    	<h3><%= format_item_image_caption(item, current_page) %></h3>
    		<% end -%>
        <div class="zoomify_container">
            <%= render :partial => "zoomify", :locals => { :item => item, :current_page => current_page, :full_screen => full_screen } %>
        </div>
        <div class="zoomify_pagination">
            <ul class="left">
                <li>
                    Page <%= current_page %> of <%= item.pages %>
                </li>
                <% if item.pages > 1 -%>
	                <li>
	                    <%= link_to_unless current_page == 1, t(:previous).titleize, full_screen ? archive_detail_zoomify_path(:id => item.id, :zoomify_page => current_page - 1, :zoomify_show => false) : archive_detail_path(:id => item.id, :zoomify_page => current_page - 1, :zoomify_show => true), :remote => true %>
	                </li>
	                <li>
	                    <%= link_to_unless current_page == item.pages, t(:next).titleize, full_screen ? archive_detail_zoomify_path(:id => item.id, :zoomify_page => current_page + 1, :zoomify_show => false) : archive_detail_path(:id => item.id, :zoomify_page => current_page + 1, :zoomify_show => true), :remote => true %>
	                </li>
	                               
	                <li>
	                    <div class="jump_menu page">
	                        <span>
	                        	<%= t(:jump_to_page_prompt) %>
	                        	<%= form_tag(full_screen ? archive_detail_zoomify_path(:id => item.id) : archive_detail_path(:id => item.id), :remote => true) do %>
	                            <%= text_field_tag :zoomify_page, current_page == item.pages ? 1 : current_page + 1, :size => 5 %>
	                            <%= hidden_field_tag :zoomify_show, !full_screen %>
	                            <%= submit_tag t(:go), :name => nil %>
	                            <% end  -%>
	                        </span>
	                    </div>
	                </li>
	                
	                <% unless @sections_list.nil? -%>
	                <li>
	                    <div class="jump_menu section">
	                        <span>
	                        	<%= t(:jump_to_section_prompt) %>
	                        	<%= form_tag(full_screen ? archive_detail_zoomify_path(:id => item.id) : archive_detail_path(:id => item.id), {:method => 'get'}) do %>
	                            <%= select_tag :zoomify_section_id, options_for_select(sections_list) -%>
	                            <%= hidden_field_tag :zoomify_show, !full_screen  %>
	                            <%= hidden_field_tag :zoomify_page, current_page %>
	                            <%= submit_tag t(:go), :name => nil %>
	                            <% end  -%>
	                        </span>
	                    </div>
	                </li>
	                <% end -%>
                
                <% end -%>
            </ul>
            <ul class="right">
                <li class="last">
                    <%= link_to t(:view_full_screen), archive_detail_zoomify_url(:id => item, :zoomify_page => current_page ), 'data-popup' => true unless full_screen %>
                </li>
            </ul>
        </div>
    </div>
</div>