<div id="email-popup" style="display:none;">
    <div id="email-popup-content" style="padding:20px;color:#fff;">
        <h2>
            <%= t(:email_popup_prompt) %>
        </h2>
        <form id="email-form" action="<%= archive_detail_email_path %>" method="POST" >
        	<%= hidden_field_tag :ids, items.map {|i| i.id }.sort %>
        	<%= hidden_field_tag :citation, items.map { |i| h(i.full_citation) }.join("\n\n") %>
            <div class="form_row">
                <%= t(:from_email) %> <span class="mandatory">*</span>
                <br />
                <input type="input" name="from" id="from" size=70 onchange="validateEmail(this);"/>
            </div>
            <div class="form_row">
                <%= t(:to_email) %>  <span class="mandatory">*</span>
                <br />
                <input type="input" name="to"  id="to" size=70 onchange="validateEmail(this);"/>
            </div>
            <div class="form_row">
                <%= t(:note) %>
                <br />
                <%= text_area_tag(:note, nil, :size => "76x5") %>
            </div>
            <div class="form_row">
                <input type="submit" class="redButton" value="<%= t(:email) %>" disabled=true>
            </div>
        </form>
    </div>
</div>

