<div id="email-popup" style="display:none;">
	<div id="email-popup-content" style="padding:20px;color:#fff;">
		<h2><%= t(:email_popup_prompt) %></h2>
		<%= form_tag archive_email_path, :id => "email-form", :method => "POST", 'data-remote' => true do %>
		<%= hidden_field_tag :ids, ids %>
		<div class="form_row">
			<label for="from"><%= t(:from_email) %></label> <span class="mandatory">*</span>
			<br />
			<input id="from" name="from" type="email" placeholder="example@domain.com" required autofocus >
		</div>
		<div class="form_row">
			<label for="to"><%= t(:to_email) %></label> <span class="mandatory">*</span>
			<br />
			<input id="to" name='to' type="email" placeholder="example@domain.com" required >
		</div>
		<div class="form_row">
			<%= t(:note) %>
			<br />
			<%= text_area_tag(:note, nil, :size => "76x5") %>
		</div>
		<div class="form_row">
			<%= submit_tag t(:send_email).titleize, :class => "redButton", :disable_with => t(:sending_email) %>
		</div>
		<% end -%>
		<div id="email_confirmation_wrapper">
			<span>
				<div id="email_confirmation">
					<p><%= t(:email_instructions) %></p>
				</div>
			</span>
		</div>
	</div>
</div>
