<div id="zoomify-popup" style="display:none;">
    <div id="zoomify-popup-content" style="padding:20px;color:#fff;">
        <div class="zoomify_container">
            <%= render :partial => "zoomify", :locals => { :item => item, :current_page => 1 } %>
        </div>
        <div class="zoomify_pagination">
            <ul class="left">
                <li>
                    Page <%= current_page %> of <%= item.pages %>
                </li>
                <% if item.pages > 1 -%>
                <li>
                    <%= link_to t(:previous).titleize, "#" %>
                </li>
                <li>
                    <%= link_to t(:next).titleize, "#" %>
                </li>
                <% end -%>
            </ul>
            <ul class="right">
                <li class="last">
                    <%= link_to t(:view_full_screen), "#" %>
                </li>
            </ul>
        </div>
    </div>
</div>