<div id="zoomify-popup" style="<%= hide ? 'display:none;' : '' %>">
	<div id="zoomify-replacement-wrapper">
		<span>
    <div id="zoomify-popup-content" style="color:#fff;">
		<div class="zoomify_header" style="padding-bottom:20px;">
			<ul class="left">
				<li>
					<%= format_item_image_caption(item, current_page) %>
				</li>
			</ul>
			<ul class="right">
				<li class="last">
					<%= link_to t(:view_full_screen), archive_detail_zoomify_url(:id => item, :zoomify_page => current_page ), 'class' => "redButton", 'data-popup' => true unless full_screen %>
				</li>
			</ul>
		</div>
		<div class="zoomify_tool_wrapper">
	        <div id="<%= item.pages > 1 ? 'zoomify_container_with_gallery' : 'zoomify_container' %>">
	            <%= render :partial => "zoomify", :locals => { :item => item, :current_page => current_page, :full_screen => full_screen } %>
	        </div>
	        <% unless item.pages.nil? || item.pages < 2 -%>
	        <div id="<%= full_screen ? "zoomify_thumb_gallery_full" : "zoomify_thumb_gallery_fixed" %>">
	        	<ul>
	        	<% (1..item.pages).each do |page| -%>
	        		<li>
	        			<%= link_to( 	image_tag(item.page_url(page), :class=>"zoomify_thumb"),
	        		 					full_screen ? archive_detail_zoomify_path(:id => item.id, :zoomify_page => page, :zoomify_show => false)
	        		 					: archive_detail_path(:id => item.id, :zoomify_page => page, :zoomify_show => true),
	        		 					:title => format_item_image_caption(item, page), :class => "tipsy item_thumb_link", :remote => true ) %>
	        		 					</li>				 
	        	<% end -%>
	        	<ul>
	        </div>
	        <% end -%>
        </div>
        <div id="zoomify_pagination">
            <ul class="left">
                <% if item.pages > 1 -%>
	                <li>
	                    <span class="prev"><%= link_to_unless current_page == 1,  t(:previous).titleize  , full_screen ? archive_detail_zoomify_path(:id => item.id, :zoomify_page => current_page - 1, :zoomify_show => false) : archive_detail_path(:id => item.id, :zoomify_page => current_page - 1, :zoomify_show => true), :remote => true %>
						</span>
	                </li>
	                <li>
	                    <span class="next"><%= link_to_unless current_page == item.pages, t(:next).titleize, full_screen ? archive_detail_zoomify_path(:id => item.id, :zoomify_page => current_page + 1, :zoomify_show => false) : archive_detail_path(:id => item.id, :zoomify_page => current_page + 1, :zoomify_show => true), :remote => true %>
						</span>
	                </li>
					<!-- <li style="padding:4px 10px 0">
	                    Page <%= current_page %> of <%= item.pages %>
	                </li> -->            
	                <li>
	                    <div class="jump_menu page">
	                       <span>
	                        	<%= t(:jump_to_page_prompt) %>
						   </span>
	                        	<%= form_tag(full_screen ? archive_detail_zoomify_path(:id => item.id) : archive_detail_path(:id => item.id), :remote => true) do %>
	                            <%= text_field_tag :zoomify_page, current_page == item.pages ? 1 : current_page, :size => 3 %> of <%= item.pages %>
	                            <%= hidden_field_tag :zoomify_show, !full_screen %>
	                            <%= submit_tag t(:go), :name => nil, :class => "redButton", :style => "border:none" %>
	                            <% end  -%>
	                        
	                    </div>
	                </li>
	                </ul>
	                <ul class="right">
	                <% unless @sections_list.nil? -%>
	                <li class="last">
	                    <div class="jump_menu section">
	                        <span>
	                        	<%= t(:jump_to_section_prompt) %>
	  						</span>
	                        	<%= form_tag(full_screen ? archive_detail_zoomify_path(:id => item.id) : archive_detail_path(:id => item.id), :remote => true) do %>
	                            <%= select_tag :zoomify_section_id, options_for_select(sections_list, @zoomify_section_id) -%> 
	                            <%= hidden_field_tag :zoomify_show, !full_screen  %>
	                            <%= submit_tag t(:go), :name => nil, :class => "redButton", :style => "border:none" %>
	                            <% end  -%>
	                        
	                    </div>
	                </li>
	                <% end -%>
                
                <% end -%>
            </ul>
        </div>
    </div>
    <span>
    	</div>
</div>