<h3 class="active"><%= link_to t(:genres), archive_genres_path %></h3>
<div class="list" style="display:block">
    <ul class="default">
        <% @major_genres.each do |genre| -%>
        <li>
            <%= link_to truncate(genre.name, :length => 26), archive_browser_path(:subject_filter=>genre.id) %>  <span>(<%= genre.items.count %>)</span>
        </li>
        <% end -%>
    </ul>
    <ul class="more">
        <% @minor_genres.each do |genre| -%>
        <li>
            <%= link_to truncate(genre.name, :length => 26), archive_browser_path(:subject_filter=>genre.id) %>  <span>(<%= genre.items.count %>)</span>
        </li>
        <% end -%>
    </ul>
    <%= link_to t(:see_more), archive_genres_path, :class => "moreLink" %>
</div>