<h3 class="active"><%= link_to t(:genres), archive_genres_path %></h3>
<div class="list" style="display:block">
    <ul class="default">
        <% @genres.where('subjects.major=?',true).limit(8).each do |genre| -%>
        <li>
            <%= link_to truncate(genre.name, :length => 26), archive_browser_path(:subject_filter=>genre.id) %>  <span>(<%= localized_number(genre.items.count) %>)</span>
        </li>
        <% end -%>
    </ul>
    <ul class="more">
        <% @genres.where('subjects.major=?',false).each do |genre| -%>
        <li>
            <%= link_to truncate(genre.name, :length => 26), archive_browser_path(:subject_filter=>genre.id) %>  <span>(<%= localized_number(genre.items.count) %>)</span>
        </li>
        <% end -%>
     </ul>
    <%= link_to t(:see_more), archive_genres_path, :class => "moreLink" %>
</div>