	<% unless @reset -%>
<h3 class="active"><%= link_to t(:related_genres).titleize, archive_genres_path %></h3>
<div class="list" style="display:block">
	<% else -%>
<h3 class="active"><%= link_to t(:genres).titleize, archive_genres_path %></h3>
<div class="list" style="display:block">
	<% end -%>
    <ul class="default">
        <% @top_genres.each do |genre| -%>
        <li>
            <%= link_to truncate(genre.name, :length => 50),
            archive_browser_path(:subject_filter=>genre.id),
            :class => (genre.id.to_s == @subject_filter) ? 'active' : '' %>
            <span>(<%= localized_number(genre.items_count) %>)</span>
        </li>
        <% end -%>
    </ul>
    <% unless @genres.sort_by(&:name).size <= ARCHIVE_REFINE_RESULTS_TOP_SHOW_LIMIT -%>
    <ul class="more">
        <% @genres.limit(ARCHIVE_REFINE_RESULTS_MORE_SHOW_LIMIT).each do |genre| -%>
        <li>
            <%= link_to truncate(genre.name, :length => 50),
            archive_browser_path(:subject_filter=>genre.id),
            :class => (genre.id.to_s == @subject_filter) ? 'active' : '' %>
            <span>(<%= localized_number(genre.items_count) %>)</span>
        </li>
        <% end -%>
    </ul>
    <%= link_to t(:see_more), archive_genres_path, :class => "moreLink" %>
    <% end -%>
</div>