<div id="items">
    <% items.each do |item| -%>
    <div class="item <%= item.has_clip? ? 'oralhistory' : '' %>">
        <span class="select-item">
            <input type="checkbox" name="select-item" />
        </span>
        <a href="/archive/detail/<%= item.id %>">
        <img alt="<%= item.title %>" src="<%= item.thumbnail_url %>">
        </a>
        <%= link_to t(:oral_histories), archive_detail_path(item), :class=>"type" unless item.clips.empty? %>
        <%= link_to raw(item.title + "<span>" + item.collection.name + "</span>"), archive_detail_path(item), :class=>'title' %>
    </div>
    <% end -%>
</div>