<div class="list clearfix" id="items">
    <% items.each do |item| %>
    <div class="listItem clearfix">
       
            <% if @my_archive_ids.include?(item.id) -%>
            <%= link_to t(:remove_from_my_archive), archive_detail_forget_path(item), :class => "item-remove", :title => t(:remove_from_my_archive) %>
            <% else -%>
            <%= link_to t(:add_to_my_archive), archive_detail_remember_path(item), :class => "item-add", :title => t(:add_to_my_archive) %>
            <% end -%>
     
        <div class="item <%= item.has_clip? ? 'oralhistory' : '' %> <%= item.pages==1 ? '' : 'multiple' %>" >
            <a href="<%= archive_detail_path(item.id) %>">
            <img width="100" alt="<%= item.title %>" src="<%= item.thumbnail_url %>">
			 <% unless item.pages==1 -%>
				<span class="image-count"><%= localized_number(item.pages) + " " + (item.pages == 1 ? t(:image) : t(:images)) %></span>
		     <% end -%> 
            </a>
            <%= link_to t(:audio), archive_detail_path(item.id), :title => archive_detail_path(item.id), :class => 'type' if item.has_clip? %>
        </div>
        <div class="description">
            <!--<a class="view" href="/archive/detail/1190">view details</a>-->
            <h3><%= link_to item.title, archive_detail_path(item.id) %></h3>
            <h4><%= item.collection.name unless item.collection.blank? %></h4>
            <% unless item.show_date.blank? -%>
            <p class="meta">
                <%= item.show_date  %>
            </p>
            <% end -%>
            <% unless item.description.blank? -%>
            <p>
                <%= item.description  -%>
            </p>
            <% end -%>
        </div>
    </div>
    <% end %>
</div>
