<div id="archive_index_wrapper">
    <h2>
    <%= t(:my_archive).titleize  %>
    <% unless @my_archive_ids.empty? %>
    <span id="selectionCount" style="color:#CA3723;float: right; margin-right: 5px;"><%= "#{localized_number(@my_archive_ids.size.to_s)}" %></span>
    <% end -%>
    </h2>
    <ul>
        <li>
            <%= link_to t(:show_my_items).titleize, archive_browser_path(:my_archive => true) %>
        </li>
        <li>
            <%= link_to t(:download).titleize, "#" %>
        </li>
        <li>
            <%= link_to t(:email).titleize, "#" %>
        </li>
        <li>
            <%= link_to t(:clear_my_items).titleize, archive_clear_my_items_path %>
        </li>
    </ul>
</div>