<div id="items">
  <div class="noItems">
    <h2><%= t(:no_records_found) %></h2>
    <p><%= t(:here_are_some_search_tips) %> </p>
    <ul>
      <li><%= t(:tip_select_fewer_filters) %></li>
      <li><%= t(:tip_use_indexes) %>: <%= link_to t(:genre), archive_genres_path %><%= I18n.translate(:comma) %> <%= link_to t(:people), archive_people_path %><%= I18n.translate(:comma) %> <%= link_to t(:place), archive_places_path %><%= I18n.translate(:comma) %> <%= link_to t(:subject), archive_subjects_path %></li>
      <li><%= t(:tip_try_variations) %></li>
    </ul>
    <h4><%= t(:see_our_faq) %> <%= link_to t(:faq), faq_path %></h4>
  </div>
</div>