  <div class="paginationBar clearfix">
  <div class="sortnav paginate">
    <%= will_paginate items, :inner_window => 2, :outer_window => 1 %>
  </div>
  <ul class="sortnav" id="sort">
    <li class="label"><%= t(:sort_by) %> :</li>
    <li class="<%= 'active' if sort_mode[0,5] =='alpha' -%>"><%= link_to( t(:az_sort), url_for(params.merge(:sort_mode => (sort_mode == 'alpha_asc' ? 'alpha_dsc':'alpha_asc'))), {:class => 'module-link AZsort'}) %><span class="<%= sort_mode == 'alpha_asc' ? 'down':'up' -%>"></span></li>
    <li class="<%= 'active' if sort_mode[0,4] == 'date' -%>"><%= link_to( t(:date), url_for(params.merge(:sort_mode => (sort_mode=='date_asc' ? 'date_dsc':'date_asc'))), {:class => 'module-link Datesort'}) %><span class="<%= sort_mode == 'date_asc' ? 'down':'up' -%>"></span></li>
  </ul>
</div> 