<h3><%= link_to(t(:people).capitalize, archive_people_path) %></h3>
<div class="list">
    <ul class="default">
        <% @people.where("major=?",true).each do |person| -%>
        <% unless person.items.empty? -%>
        <li>
            <%= link_to truncate(person.name, :length => 50), archive_browser_path(:person_filter=>person.id) %>
            <span>(<%= localized_number(person.items.count) %>)</span>
        </li>
        <% end -%>
        <% end -%>
    </ul>
    <ul class="more">
        <% @people.where("major=?",false).limit(ARCHIVE_REFINE_RESULTS_MORE_SHOW_LIMIT).each do |person| -%>
        <% unless person.items.empty? -%>
        <li>
            <%= link_to truncate(person.name, :length => 50), archive_browser_path(:person_filter=>person.id) %>
            <span>(<%= localized_number(person.items.count) %>)</span>
        </li>
        <% end -%>
        <% end -%>
        <li>
            <%= link_to t(:see_entire_index), archive_people_path, :class => "seeAllLink" %>
        </li>
    </ul>
    <%= link_to t(:see_more), archive_people_path, :class => "moreLink" %>
</div>