	<% unless @reset -%>
		<h3 class="active"><%= link_to(t(:related_people).titleize, archive_people_path) %></h3>
		<div class="list"  style="display:block">
	<% else -%>
		<h3><%= link_to(t(:people).titleize, archive_people_path) %></h3>
		<div class="list">	
	<% end -%>
    <ul class="default">
        <% @top_people.each do |person| -%>
        <% unless (!@filters[:person_filter].nil? && @filters[:person_filter].include?(person.id))  -%>
        <li>
            <%= link_to truncate(person.name, :length => 50), archive_browser_path('person_filter[]'=>person.id),
            :class => (person.id.to_s == @person_filter) ? 'active' : '' %>
            <span>(<%= localized_number(person.items_count(@reset ? nil : @item_ids)) %>)</span>
        </li>
        <% end -%>
        <% end -%>
    </ul>
    <% if @people.size > ARCHIVE_REFINE_RESULTS_TOP_SHOW_LIMIT %>
    <ul class="more">
        <% @people.limit(ARCHIVE_REFINE_RESULTS_MORE_SHOW_LIMIT).each do |person| -%>
        <% unless (!@filters[:person_filter].nil? && @filters[:person_filter].include?(person.id))  -%>
        <li>
            <%= link_to truncate(person.name, :length => 50), archive_browser_path('person_filter[]'=>person.id),
            :class => (person.id.to_s == @person_filter) ? 'active' : '' %>
            <span>(<%= localized_number(person.items_count(@reset ? nil : @item_ids)) %>)</span>
        </li>
        <% end -%>
        <% end -%>
        <li>
            <%= link_to t(:see_entire_index), archive_people_path, :class => "seeAllLink" %>
        </li>
    </ul>
    <%= link_to t(:see_more), archive_people_path, :class => "moreLink" %>
    <% end %>
</div>