	<% unless @reset -%>
<h3 class="active"><%= link_to t(:related_places).titleize, archive_places_path %></h3>
<div class="list"  style="display:block">
	<% else -%>
<h3><%= link_to t(:places).titleize, archive_places_path %></h3>
<div class="list">
	<% end -%>
    <ul class="default">
        <% @top_places.each do |place| -%>
        <% unless place.items.empty? %>
        <li>
            <%= link_to truncate(place.name, :length => 50), archive_browser_path('place_filter[]'=>place.id),
            :class => (place.id.to_s == @place_filter) ? 'active' : '' %>
            <span>(<%= localized_number(place.items_count(@item_ids)) %>)</span>
        </li>
        <% end -%>
        <% end -%>
    </ul>
    <% if @places.size > ARCHIVE_REFINE_RESULTS_TOP_SHOW_LIMIT -%>
    <ul class="more">
        <% @places.limit(ARCHIVE_REFINE_RESULTS_MORE_SHOW_LIMIT).each do |place| -%>
        <% unless place.items.empty? -%>
        <li>
            <%= link_to truncate(place.name, :length => 50), archive_browser_path('place_filter[]'=>place.id),
            :class => (place.id.to_s == @place_filter) ? 'active' : '' %>
            <span>(<%= localized_number(place.items_count(@item_ids)) %>)</span>
        </li>
        <% end -%>
        <% end -%>
        <li>
            <%= link_to t(:see_entire_index), archive_places_path, :class => "seeAllLink" %>
        </li>
    </ul>
    <%= link_to t(:see_more), archive_places_path, :class => "moreLink" %>
    <% end -%>
</div>