<h3 class="active"><%= link_to t(:related_places).titleize, archive_places_path %></h3>
<div class="list"  style="display:block">
    <ul class="default">
        <% @places.limit(10).each do |place| -%>
        <% unless place.items.empty? %>
        <li>
            <%= link_to truncate(place.name, :length => 50), archive_browser_path(:place_filter=>place.id),
            :class => (place.id.to_s == @place_filter) ? 'active' : '' %>
            <span>(<%= localized_number(place.items.count) %>)</span>
        </li>
        <% end -%>
        <% end -%>
    </ul>
    <% if @places.size > 10 -%>
    <ul class="more">
        <% @places.offset(10).limit(25).each do |place| -%>
        <% unless place.items.empty? -%>
        <li>
            <%= link_to truncate(place.name, :length => 50), archive_browser_path(:place_filter=>place.id),
            :class => (place.id.to_s == @place_filter) ? 'active' : '' %>
            <span>(<%= localized_number(place.items.count) %>)</span>
        </li>
        <% end -%>
        <% end -%>
        <li>
            <%= link_to t(:see_entire_index), archive_places_path, :class => "seeAllLink" %>
        </li>
    </ul>
    <%= link_to t(:see_more), archive_places_path, :class => "moreLink" %>
    <% end -%>
</div>