<h3><%= link_to t(:places).capitalize, archive_places_path %></h3>
<div class="list">
    <ul class="default">
        <% @places.where("major=?",true).limit(3).each do |place| -%>
        <li>
            <%= link_to truncate(place.name, :length => 26), archive_browser_path(:place_filter=>place.id) %>  <span>(<%= localized_number(place.items.count) %>)</span>
        </li>
        <% end -%>
    </ul>
    <ul class="more">
        <% @places.where("major=?",false).limit(10).each do |place| -%>
        <li>
            <%= link_to truncate(place.name, :length => 26), archive_browser_path(:place_filter=>place.id) %>  <span>(<%= localized_number(place.items.count) %>)</span>
        </li>
        <% end -%>
    </ul>
    <%= link_to t(:see_more), archive_places_path, :class => "moreLink" %>
</div>