	<% unless @reset -%>
<h3 class="active"><%= link_to t(:related_subjects).titleize, archive_subjects_path %></h3>
<div class="list"  style="display:block">
	<% else -%>
<h3><%= link_to t(:subjects).titleize, archive_subjects_path %></h3>
<div class="list">
	<% end -%>
    <ul class="default">
        <% @top_subjects.each do |subject| -%>
        <% unless subject.items.empty? -%>
        <li>
            <%= link_to truncate(subject.name, :length => 50), archive_browser_path('subject_filter[]'=>subject.id), :class => (subject.id.to_s == @subject_filter) ? 'active' : '' %>
            <span>(<%= localized_number(subject.items_count) %>)</span>
        </li>
        <% end -%>
        <% end -%>
    </ul>
    <% unless @subjects.size <= ARCHIVE_REFINE_RESULTS_TOP_SHOW_LIMIT %>
    <ul class="more">
        <% @subjects.limit(ARCHIVE_REFINE_RESULTS_MORE_SHOW_LIMIT).each do |subject| -%>
        <% unless subject.items.empty? -%>
        <li>
            <%= link_to truncate(subject.name, :length => 50), archive_browser_path('subject_filter[]'=>subject.id), :class => (subject.id.to_s == @subject_filter) ? 'active' : '' %>
            <span>(<%= localized_number(subject.items_count) %>)</span>
        </li>
        <% end -%>
        <% end -%>
        <li>
            <%= link_to t(:see_entire_index), archive_subjects_path, :class => "seeAllLink" %>
        </li>
    </ul>
    <%= link_to t(:see_more), archive_subjects_path, :class => "moreLink" %>
    <% end %>
</div>