<% @page_description = t(:advanced_search_description) -%>
<% @page_title = t(:archive).capitalize + " | " + t(:advanced_search).capitalize -%>


<div id="staticContent" class="clearfix">
  <h1><%= t(:advanced_search).titleize %></h1>
    <div id="archive_advanced_search_wrapper">
        <div class="clearfix" id="advanced_search">
            <form method="get" class="advanced_searchform" action="/archive/browser">
                <input type="text" value="<%= t(:search_prompt) %>" name="keyword_filter" class="swap_value" id="s" style="color:#aaa;"
                onfocus="if(this.value=='<%= t(:search_prompt) %>'){this.value='';this.style.color = '#000';}"
                onblur="if(this.value==''){this.value='<%= t(:search_prompt) %>';this.style.color = '#aaa';}" />
                <%= submit_tag 'Submit'%>
            </form>
        </div>
    </div>
</div>