<% @page_description = t(:archive_description) -%>
<% @page_title = t(:archive).capitalize -%>
<% @extra_head_content = browser_header_content -%>

<div id="browser" class="clearfix">
  <div id="head" class="filters clearfix">
    <%= render :partial => "browser_filters", :locals => { :genres => @genres, :periods => @periods, :collections => @collections }  %>
  </div>
  <%= render :partial => "browser_indexes"  %>
  <%= render :partial => "browser_results_message", :locals => { :items => @items }  %>

  <div id="browserContent" class="clearfix">
    <% unless @items.empty?  %>

      <%= render :partial => 'pagination_bar', :locals => { :items => @items, :view_mode => @view_mode, :sort_mode => @sort_mode } %>

      <% if @view_mode == 'list' -%>
        <%= render :partial => 'items_list_view', :locals => { :items => @items } %>
      <% elsif @view_mode == 'grid' -%>
        <%= render :partial => 'items_grid_view', :locals => { :items => @items } %>
      <% end -%>

      <%= render :partial => 'pagination_bar', :locals => { :items => @items, :view_mode => @view_mode, :sort_mode => @sort_mode }  %>
    <% else %>
      <%= render :partial => 'no_items_found_view' %>
    <% end %>
  </div>

</div>

