<% @page_description = t(:archive_description) -%>
<% @page_title = t(:archive).capitalize -%>

<% content_for :head do %>
<%= render 'head_browser_content' %>
<% end %>

<div id="browseBar" style="height:auto">
    <div id="head">
        <%= link_to t(:reset).titleize, archive_browser_path(:reset => true), :class => "blackButton right" %>
        <h2><%= t(:refine_results) %></h2>
    </div>
    
    <%= render "browser_selected_filters" unless @reset %>
    
    <%= render "genre_list_subfilters" unless @top_genres.empty?  %>

    <%= render "collection_list_subfilters" unless @top_collections.empty? %>

    <%= render "person_list_subfilters" unless @top_people.empty?  %>

    <%= render "place_list_subfilters" unless @top_places.empty?  %>

    <%= render "subject_list_subfilters" unless @top_subjects.empty?  %>

    <%= render "period_list_subfilters" unless @periods.empty? %>
</div>
<!-- end browseBar -->
<div class="clearfix archiveBigWrapper" >

    <%= render "simple_search" %>

    <%= render "index_list" %>

    <%= render :partial => 'pagination_bar', :locals => { :items => @items, :view_mode => @view_mode, :sort_mode => @sort_mode } unless @items.empty?  %>

    <div id="search_results">
        <%= render :partial => 'browser_results_message', :locals => {:items => @items, :query_labels => @query_labels} %>

        <% unless @items.empty?  -%>
        <% if @view_mode == 'list' -%>
        <%= render :partial => 'items_list_view', :locals => { :items => @items } %>
        <% elsif @view_mode == 'grid' -%>
        <%= render :partial => 'items_grid_view', :locals => { :items => @items } %>
        <% end -%>
	    <% else -%>
	        <% if @my_archive_filter %>
	        	<%= render :partial => 'no_items_in_my_archive' %>
	        <% else -%>
	        	<%= render :partial => 'no_items_found_view' %>
	        <% end -%>
        <% end -%>
    </div>
    <%= render :partial => 'pagination_bar', :locals => { :items => @items, :view_mode => @view_mode, :sort_mode => @sort_mode }  unless @items.empty? %>
</div>
<%= render :partial => "detail_search_results_popup", :locals => { :items => @items, :query_labels => @query_labels } %>

