<% @page_description = t(:collections_description) -%>
<% @page_title = t(:collection).capitalize + " | " + @collection.name -%>

<% content_for :head do %>
<%= render 'head_collections_detail_content' %>
<% end %>

<div class="clearfix archiveBigWrapper" id="collection_details" >
    <!-- begin pagination bar -->
    <div class="paginationBar clearfix">
        <div class="add_this_tools">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_favorites"></a>
                <a class="addthis_button_twitter"></a>
                <a class="addthis_button_facebook"></a>
                <a class="addthis_button_preferred_1"></a>
                <a class="addthis_button_compact"></a>
            </div>
            <script type="text/javascript">
                var addthis_config =
                {
                    data_track_clickback:true,
                    ui_language:"en"
                };
            </script>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=qajar">
            </script>
            <!-- AddThis Button END -->
        </div>
        <div class="sortnav paginate">
            <div class="pagination">
                <a class=""  href="<%= archive_collections_path %>"><%= t(:back_to_collections).titleize %></a>
                <% unless @collections.size < 2 || @collections.nil? %>
                <%= link_to_unless @collections.index(@collection) == 0, t(:previous).titleize + ' « ' , archive_collection_detail_path(:id => @collections[@collections.index(@collection)-1])  %>
                <span class="counts"><%= localized_number(@collections.index(@collection) + 1) + ' ' + t(:of) + ' ' + localized_number(@collections.size) + ' ' + ( @collections.size == 1 ? t(:collection) : t(:collections)) %></span>
                <%= link_to_unless @collections.index(@collection) == @collections.size - 1, ' » '  +  t(:next).titleize, archive_collection_detail_path(:id => @collections[@collections.index(@collection)+1])  %>
                <% end -%>
            </div>
        </div>
    </div>
    <!-- end pagination bar -->

    <div id="search_results" class="clearfix">
        <a class="redButton right" href="<%= archive_browser_path('collection_filter[]'=> @collection.id ) %>"><%= t(:collection_view_items_prompt) %> (<%= localized_number(@collection.items_count) %> <%= @collection.items_count == 1 ? t(:item) : t(:items) %>)</a>
        <h2><%= @collection.name %></h2>
        <div id="item_details_wrapper">
            <ul class="item_meta">
                <% unless @collection.description.blank? -%>
                <li class="description">
                    <span><%= t(:description).titleize %></span>
                    <%= @collection.description %>
                </li>
                <% end -%>

                <% unless @collection.materials.blank? -%>
                <li class="description">
                    <span><%= t(:quantity).titleize %></span>
                    <%= @collection.materials %>
                </li>
                <% end -%>

                <% unless @collection.history.blank? -%>
                <li>
                    <span><%= t(:scope_and_content) %></span>
                    <%= @collection.history %>
                </li>
                <% end -%>

                <% unless @collection.tips.blank? -%>
                <li>
                    <span><%= t(:tips).titleize %></span>
                    <%= @collection.tips %>
                </li>
                <% end -%>

                <% unless @collection.acquisition_notes.blank? -%>
                <li>
                    <span><%= t(:acquisition_notes).titleize %></span>
                    <%= @collection.acquisition_notes %>
                </li>
                <% end -%>

                <% unless @collection.repository.blank? -%>
                <li>
                    <span><%= t(:repository).titleize %></span>
                    <%= @collection.repository %>
                </li>
                <% end -%>

                <% unless @collection.restrictions.blank? -%>
                <li>
                    <span><%= t(:restrictions).titleize %></span>
                    <%= @collection.restrictions %>
                </li>
                <% end -%>
            </ul>
            <ul class="item_related">

                <% unless @collection.creator.blank? -%>
                <li>
                    <span><%= t(:creator).titleize %></span>
                    <%= @collection.creator %>
                </li>
                <% end -%>

                <% unless @collection.dates.blank? -%>
                <li>
                    <span><%= t(:dates).titleize %></span>
                    <%= @collection.dates %>
                </li>
                <% end -%>

                <li>
                    <span><%= t(:genres).titleize %></span>
                    <% @genres.each do |genre|  %>
                    <%= link_to genre.name,
                    archive_browser_path('collection_filter[]' => @collection.id, 'genre_filter[]' => genre.id ),
                    :class => "tag" %>
                    <% end unless @genres.empty? %>
                </li>
                <% unless @collection.acquired_on.blank? -%>
                <li>
                    <span><%= t(:accessed_on).titleize %></span>
                    <%= localized_date( @collection.acquired_on ) %>
                </li>
                <% end -%>

                <% unless @collection.last_edited.blank? -%>
                <li>
                    <span><%= t(:last_edited).titleize %></span>
                    <%= localized_date( @collection.last_edited ) %>
                </li>
                <% end -%>
                
                <% if @collection.finding_aid -%>
                <li>
                    <span><%= t(:archival_finding_aids).titleize %></span>
                    <span id="finding_aid_pdf"><%= link_to @collection.finding_aid_file_name, @collection.finding_aid_url, 'data-popup' => true %></span>
                </li>
                <% end -%>
                
            </ul>
            <div class="collection_highlights">
                <h4><%= t(:collection_highlights)%></h4>
                <ul>
                    <% @collection_highlight_items.each do |item| %>
                    <li>
                        <a href="<%= archive_detail_path(:id => item.id )%>">
                        <img alt="<%= item.title %>" src="<%= item.thumbnail_url %>">
                        <span><%= item.title %></span>
                        </a>
                    </li>
                    <% end -%>
                </ul>
            </div>
        </div>
    </div>
</div>