<% @page_description = t(:collections_description) -%>
<% @page_title = t(:archive).capitalize + " | " + t(:collections).capitalize -%>

<% content_for :head do %>
<%= render 'head_collections_content' %>
<% end %>

<div class="clearfix archiveBigWrapper" id="collection_index">

    <div id="search_results">        
        <h2><%= t(:collections).titleize %></h2>
        <p class="header">
            <%= t(:named_holdings_intro) %>
        </p>
        <%= render :partial => "collections_pagination_bar", :locals => {:collections => @collections, :direction => @direction } %>
        <div class="list clearfix" id="items">
            <% @collections.each do | collection | -%>
            	<%= render :partial => 'collection', :locals => {:collection => collection} %>
            <% end -%>
        </div>
    </div>
</div>