<div class="print_friendly_content">
    <div id="cover_project_title">
        <h1><%= t(:site_title) %></h1>
    </div>
    <div id="cover_item_details">

        <h2><%= @item.title %></h2>
        <ul id="cover_item_detail_list">

            <% unless @item.creators.blank? -%>
            <li class="description">
                <span><%= t(:creator).titleize %>:</span>
                <%= @item.creators %>
            </li>
            <% end -%>

            <% unless @item.published.blank? -%>
            <li class="description">
                <span><%= t(:published).titleize %>:</span>
                <%= @item.published %>
            </li>
            <% end -%>

            <% unless @item.show_date.blank? -%>
            <li class="description">
                <span><%= t(:date).titleize %>:</span>
                <%= @item.show_date %>
            </li>
            <% end -%>

            <% unless @item.description.blank? -%>
            <li class="description">
                <span><%= t(:description).titleize %>:</span>
                <%= @item.description %>
            </li>
            <% end -%>

            <% unless @item.dimension_label.blank? -%>
            <li>
                <span><%= t(:dimensions).titleize %>:</span>
                <%= @item.dimension_label %>
            </li>
            <% end -%>

            <% unless @item.pages.nil? -%>
            <li>
                <span><%= @item.pages == 1 ? t(:image).titleize : t(:images).titleize %>:</span>
                <%= localized_number(@item.pages) %>
            </li>
            <% end -%>

            <% unless @item.remarks.blank? -%>
            <li>
                <span><%= t(:notes).titleize %>:</span>
                <%= @item.remarks %>
            </li>
            <% end -%>

            <% unless @item.collection.nil? || @item.collection.tips.blank? -%>
            <li>
                <span><%= t(:tips).titleize %>:</span>
                <%= @item.collection.tips %>
            </li>
            <% end -%>

            <% unless @item.collection.nil? -%>
            <li>
                <span><%= t(:collection).titleize %>:</span>
                <%= link_to @item.collection.name, archive_browser_path(:collection_filter => @item.collection_id), :class=> "tag", :title => t(:see_more) %>
            </li>
            <% end -%>

            <% unless @item.subjects.genres.empty? -%>
            <li>
                <span class="block"><%= t(:genres).titleize %></span>
                <% @item.subjects.genres.each do |genre| -%>
                <%= link_to genre.name, archive_browser_path(:genre_filter => genre.id), :class => "tag" %>
                <% end -%>
            </li>
            <% end -%>

            <% unless @item.accession_num.blank? -%>
            <li>
                <span><%= t(:record_number).titleize %>:</span>
                <%= @item.accession_num %>
            </li>
            <% end -%>

            <% unless @item.repository_credit.blank? -%>
            <li>
                <span><%= t(:repository).titleize %>:</span>
                <%= @item.repository_credit %>
            </li>
            <% end -%>

            <% unless @item.collection.nil? || @item.collection.restrictions.blank? -%>
            <li>
                <span><%= t(:restrictions).titleize %>:</span>
                <%= @item.collection.restrictions %>
            </li>
            <% end -%>

            <% unless @item.stable_url.blank? -%>
            <li>
                <span><%= t(:stable_url).titleize %>:</span>
                <%= @item.stable_url %>
            </li>
            <% end -%>

            <% unless @item.collection.nil? || @item.collection.acquired_on.nil? -%>
            <li>
                <span><%= t(:accessed_on).titleize %>:</span>
                <%= localized_date(@item.collection.acquired_on) %>
            </li>
            <% end -%>
            <% unless @item.collection.nil? || @item.collection.last_edited.nil? -%>
            <li>
                <span><%= t(:last_edited).titleize %>:</span>
                <%= localized_date(@item.collection.last_edited) %>
            </li>
            <% end -%>
        </ul>
    </div>
    <div id="legal_disclaimer">
        <%= t(:legal_disclaimer) %>
    </div>
    <div id="footer">
        <%= @item.full_citation %>
    </div>
</div>