<% @page_description = t(:detail_description) -%>
<% @page_title = t(:detail).capitalize -%>

<% content_for :head do %>
  <%= render 'head_detail_content' %>
  <% if @item.has_clip? -%>
    <%= render :partial => 'head_detail_audio_content', :locals => { :mp3_name => @item.clips[0].clip_url('mp3'), :wav_name => @item.clips[0].clip_url('wav') } %>
  <% end %>
<% end %>

<%= render :partial => "detail_item_preview", :locals => { :item => @item } %>

<!-- end itemPreview -->
<div class="clearfix archiveBigWrapper" >

    <%= render :partial => "detail_item_pagination_bar", :locals => { :item => @item, :items => @items, :return_url => @return_url }%>

    <div id="search_results" class="clearfix">

        <h2>Ma'ayib al-rijal [Vices of Men], 1894</h2>
        <div id="item_details_wrapper">
            <ul class="item_meta">
                <li class="description">
                    <span>Description</span>
                    Ma'ayib al-rijal [Vices of Men], written by Bibi Khanum Astarabadi (1858 or 59-1921) in 1894, first published in 1992. Vices of Men was Bibi Khanum's response to Ta'dib al-niswan [Disciplining Women], also known as Ta'dib al-nisa', a male-centered, often misogynous text written in the mid-1880s in the tradition of satirical books of advice to men about how to treat their wives and train their daughters. This text begins autobiographically with Bibi Khanum explaining her social and educational background. The text is composed of two sections; the first is a direct wittily angry response to Disciplining Women. The second part is addressed to other women ("my sisters," as she calls them) and is her advice and warnings about men, in particular as husbands. Additional copies of the text are located in: Hafez Farmanfarmayan's Library, Microfilm No. 2203, Tehran University Central Library; Malek National Library and Museum Institution, Manuscript No. 6297; and Golestan Library.
                </li>
                <li>
                    <span>Collection</span>
                    <a class="tag" href="/archive/browser?collection_filter=19">Majlis Library, Museum and Document Center</a>
                </li>
                <li>
                    <span>Date</span>
                    1894 (1312 AH)
                </li>
                <li>
                    <span>Dimensions</span>
                    20.5 x 26.5 cm
                </li>
                <li>
                    <span>Repository</span>
                    Majlis Library, Museum and Document Center (MS. 8984). Majlis Library, Museum and Document Center, Tehran, Iran
                </li>
                <li>
                    <span class="block">Genres</span>
                    <a class="tag" href="#">manuscripts &amp; lithographs</a>
                    <a class="tag" href="#">advice books</a>
                </li>
                <li class="clear">
                    <span>Related Items</span>
                    <ul>
                        <li>
                            <a href="/archive/detail/1512">Taʼdib al-Nisaʼ [Disciplining Women], [ca. 1882-1886]</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="item_related">
                <li>
                    <span>People</span>
                    <a class="tag" href="/archive/browser?person_filter=415">Astarabadi, Bibi Khanum</a>
                </li>
                <li>
                    <span>Subject</span>
                    <a class="tag" href="/archive/browser?subject_filter=267">Conduct of life</a>
                    <a class="tag" href="/archive/browser?subject_filter=548">Husbands</a>
                    <a class="tag" href="/archive/browser?subject_filter=1">Advice</a>
                </li>
                <li>
                    <span>Places</span>
                    <a class="tag" href="/archive/browser?subject_filter=1">Shiraz</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div id="browser" class="clearfix singleItemBrowser">
    <div id="head">
        <ul class="itemTools sortnav">
            <li>
                <a href="<%= @return_url %>" class="module-link"><%= t(:back_to_collections).upcase %></a>
            </li>
            <li>
                <%= link_to( t(:previous_item).upcase, :action => :detail, :id => @items[@items.index(@item)-1]) unless @items.nil? || @items.index(@item) == 0 %>
            </li>
            <li>
                <%= link_to( t(:next_item).upcase, :action => :detail, :id => @items[@items.index(@item)+1]) unless @items.nil? || @items.index(@item) == @items.size - 1  %>
            </li>
        </ul>
        <ul class="itemToolsRight sortnav">
            <li>
                <%= link_to t(:download).upcase,  archive_detail_download_path(@item) %>
            </li>
            <li>
                <% if @my_archive_ids.include?(@item.id) -%>
                <%= link_to t(:remove_from_my_archive) + " (#{@my_archive_ids.size.to_s})", archive_detail_forget_path(@item) %>
                <% else -%>
                <%= link_to t(:add_to_my_archive) + " (#{@my_archive_ids.size.to_s})", archive_detail_remember_path(@item) %>
                <% end -%>
            </li>
        </ul>
        <div class="add_this_tools">
            <%= raw add_this_block_toolbar %>
        </div>
    </div>
    <div id="browserContent" class="clearfix">
        <div id="itemImage">
            <%= render :partial => 'zoomify' %>

            <% unless @item.subjects.concepts.empty? && @item.people.empty? && @item.places.empty? -%>
            <div id="catalogInfo">
                <div id="subjects">
                    <% unless @item.subjects.concepts.empty? %>
                    <h3>Subjects</h3>
                    <ul>
                        <% @item.subjects.concepts.each do |subject| %>
                        <li>
                            <%= link_to(subject.name, archive_browser_path(:subject_filter => subject.id), :title => "view all items with this subject") %>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
                <div id="people">

                    <% unless @item.people.empty? %>
                    <h3>People</h3>
                    <ul>
                        <% @item.people.each do |person| %>
                        <li>
                            <%= link_to(person.name, archive_browser_path(:person_filter => person.id), :title => "view all items with this person") %>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
                <div id="places">

                    <% unless @item.places.empty? %>
                    <h3>Places</h3>
                    <ul>
                        <% @item.places.each do |place|  %>
                        <li>
                            <%= link_to(place.name, archive_browser_path(:place_filter => place.id), :title => "view all items from this place") %>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
        <div id="itemDetails">
            <table  class="styled">
                <tr>
                    <!--<th><%= t(:full_title).capitalize %> </th>-->
                    <td colspan="2" class="title"><%= @item.title %></td>
                </tr>
                <% unless @item.description.blank?  || @item.description.nil? %>
                <tr class="odd">
                    <td colspan="2"><%= raw @item.description %></td>
                </tr>
                <% end %>
                <% unless @item.alternate_titles.empty? %>
                <tr>
                    <th><%= t(:alternate_titles).capitalize %></th>
                    <td>
                    <ul>
                        <% @item.alternate_titles.each do |alternate_title| -%>
                        <% unless alternate_title.title.blank? -%>
                        <li>
                            <%= alternate_title.title %>
                        </li>
                        <% end -%>
                        <% end -%>
                    </ul>
                    </td>
                </tr>
                <% end %>
                <% unless @item.collection_id.blank?  || @item.collection.nil? %>
                <tr>
                    <th><%= t(:collection).capitalize %></th>
                    <td><%= link_to( @item.collection.name, archive_browser_path(:collection_filter => @item.collection.id)) %></td>
                </tr>
                <% end %>
                <% unless @item.show_date.blank? %>
                <tr class="odd">
                    <th><%= t(:date).capitalize %></th>
                    <td><%= @item.show_date %></td>
                </tr>
                <% end %>
                <% unless @item.width + @item.height + @item.depth == 0 %>
                <tr>
                    <th><%= t(:dimensions).capitalize %></th>
                    <td><%= @item.dimension_label %></td>
                </tr>
                <% end %>
                <% unless @item.owner.nil? -%>
                <tr>
                    <th><%= t(:owner).capitalize %></th>
                    <td><%= @item.credit_label %></td>
                </tr>
                <% end -%>
                <% unless @item.subjects.genres.empty? -%>
                <tr>
                    <th><%= t(:genres).capitalize %></th>
                    <td><%= @item.subjects.genres.map { |g| g.name }.join(", ") %></td>
                </tr>
                <% end -%>
                <% unless @item.comps.empty? %>
                <tr>
                    <th><%= t(:see_also) %></th>
                    <td>
                    <ul>
                        <% @item.comps.each do |comp| -%>
                        <li>
                            <%= link_to comp.comp.title, archive_detail_path(comp.comp_id) %>
                        </li>
                        <% end -%>
                    </ul>
                    </td>
                </tr>
                <% end %>
            </table>
            <% unless @item.clips.empty? %>
            <%= raw css_audio_player(@item.clips[0].title) %>
            <% end %>
        </div>
    </div>
</div> <!-- end browser --><!-- end featured -->