<% @page_description = t(:detail_description) -%>
<% @page_title = t(:detail).capitalize -%>
<div id="browser" class="clearfix singleItemBrowser">
  <div id="head">
    <h2><%= truncate(@item.title, :length => adjust_length_for_locale(60)) %></h2>
    <ul class="itemTools sortnav">
      <li><a href="#" class="module-link share"><%= t(:share).upcase %></a></li>
      <li><a href="<%= @return_url %>" class="module-link"><%= t(:back_to_collections).upcase %> </a></li>
      <li><%= link_to( t(:previous_item).upcase, :action => :detail, :id => @items[@items.index(@item)-1]) unless @items.index(@item) == 0 %></li>
      <li><%= link_to( t(:next_item).upcase, :action => :detail, :id => @items[@items.index(@item)+1]) unless @items.index(@item) == @items.size - 1  %></li>
    </ul>
  </div>
  <div id="browserContent" class="clearfix">
    <div id="itemImage">
      <%= render :partial => 'zoomify' %>
    </div>
    <div id="itemDetails">
      <table  class="styled">
        <tr>
          <th><%= t(:full_title).capitalize %> </th>
          <td><%= @item.title %> </td>
        </tr>
        <% unless @item.collection_id.blank?  || @item.collection.nil? %>
          <tr>
            <th><%= t(:collection).capitalize %> </th>
            <td><%= @item.collection.name %> </td>
          </tr>
        <% end %>
        <% unless @item.show_date.blank? %>
          <tr class="odd">
            <th><%= t(:date).capitalize %> </th>
            <td><%= @item.show_date %></td>
          </tr>
        <% end %>
        <% unless @item.place_id.blank? || @item.place.nil? %>
          <tr>
            <th><%= t(:location).capitalize %></th>
            <td><%= @item.place.name %> </td>
          </tr>
        <% end %>
        <% unless @item.dimensions.blank? %>
          <tr class="odd">
            <th><%= t(:dimensions).capitalize %></th>
            <td><%= @item.dimensions %></td>
          </tr>
        <% end %>
        <% unless @item.category_id.blank? || @item.category.nil?%>
          <tr>
            <th><%= t(:type).capitalize %></th>
            <td><%= @item.category.name %></td>
          </tr>
        <% end %>
      </table>

      <p><%= raw @item.description unless @item.description.blank? %></p>
      <% unless @item.clips.empty? %>
        <h4><%= @item.clips[0].title %></h4>
        <%= raw audio_player(@item.clip_url(1)) %>
      <% end %>
    </div>
  </div>
</div> <!-- end browser --><!-- end featured -->