<% @page_description = t(:detail_description) -%>
<% @page_title = t(:detail).capitalize -%>
<% @extra_head_content = detail_header_content -%>

<div id="browser" class="clearfix singleItemBrowser">
    <div id="head">
        <ul class="itemTools sortnav">
            <li>
                <a href="<%= @return_url %>" class="module-link"><%= t(:back_to_collections).upcase %> </a>
            </li>
            <li>
                <%= link_to( t(:previous_item).upcase, :action => :detail, :id => @items[@items.index(@item)-1]) unless @items.nil? || @items.index(@item) == 0 %>
            </li>
            <li>
                <%= link_to( t(:next_item).upcase, :action => :detail, :id => @items[@items.index(@item)+1]) unless @items.nil? || @items.index(@item) == @items.size - 1  %>
            </li>
        </ul>
        <ul class="itemToolsRight sortnav">
            <li>
                <%= link_to t(:download).upcase,  archive_detail_download_path(@item) %>
            </li>
            <li>
                <% if @my_archive_ids.include?(@item.id) -%>
                <%= link_to t(:remove_from_my_archive) + " (#{@my_archive_ids.size.to_s})", archive_detail_forget_path(@item) %>
                <% else -%>
                <%= link_to t(:add_to_my_archive) + " (#{@my_archive_ids.size.to_s})", archive_detail_remember_path(@item) %>
                <% end -%>
            </li>
        </ul>
        <div class="add_this_tools">
            <%= raw add_this_block_toolbar %>
        </div>
    </div>
    <div id="browserContent" class="clearfix">
        <div id="itemImage">
            <%= render :partial => 'zoomify' %>

            <% unless @item.subjects.concepts.empty? && @item.people.empty? && @item.places.empty? -%>
            <div id="catalogInfo">
                <div id="subjects">
                    <% unless @item.subjects.concepts.empty? %>
                    <h3> Subjects </h3>
                    <ul>
                        <% @item.subjects.concepts.each do |subject| %>
                        <li>
                            <%= link_to(subject.name, archive_browser_path(:subject_filter => subject.id), :title => "view all items with this subject") %>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
                <div id="people">

                    <% unless @item.people.empty? %>
                    <h3> People </h3>
                    <ul>
                        <% @item.people.each do |person| %>
                        <li>
                            <%= link_to(person.name, archive_browser_path(:person_filter => person.id), :title => "view all items with this person") %>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
                <div id="places">

                    <% unless @item.places.empty? %>
                    <h3> Places </h3>
                    <ul>
                        <% @item.places.each do |place|  %>
                        <li>
                            <%= link_to(place.name, archive_browser_path(:place_filter => place.id), :title => "view all items from this place") %>
                        </li>
                        <% end %>
                    </ul>
                    <% end %>
                </div>
            </div>
            <% end %>
        </div>
        <div id="itemDetails">
            <table  class="styled">
                <tr>
                    <!--<th><%= t(:full_title).capitalize %> </th>-->
                    <td colspan="2" class="title"><%= @item.title %> </td>
                </tr>
                <% unless @item.description.blank?  || @item.description.nil? %>
                <tr class="odd">
                    <td colspan="2"><%= raw @item.description %></td>
                </tr>
                <% end %>
                <% unless @item.alternate_titles.empty? %>
                <tr>
                    <th><%= t(:alternate_titles).capitalize %></th>
                    <td>
                    <ul>
                        <% @item.alternate_titles.each do |alternate_title| -%>
                          <% unless alternate_title.title.blank? -%>
                            <li>
                                <%= alternate_title.title %>
                            </li>
                          <% end -%>
                        <% end -%>
                    </ul>
                    </td>
                </tr>
                <% end %>
                <% unless @item.collection_id.blank?  || @item.collection.nil? %>
                <tr>
                    <th><%= t(:collection).capitalize %> </th>
                    <td><%= link_to( @item.collection.name, archive_browser_path(:collection_filter => @item.collection.id)) %> </td>
                </tr>
                <% end %>
                <% unless @item.show_date.blank? %>
                <tr class="odd">
                    <th><%= t(:date).capitalize %> </th>
                    <td><%= @item.show_date %></td>
                </tr>
                <% end %>
                <% unless @item.width + @item.height + @item.depth == 0 %>
                <tr>
                    <th><%= t(:dimensions).capitalize %></th>
                    <td><%= @item.dimension_label %></td>
                </tr>
                <% end %>
                <% unless @item.owner.nil? -%>
                <tr>
                    <th><%= t(:owner).capitalize %></th>
                    <td><%= @item.credit_label %></td>
                </tr>
                <% end -%>
                <% unless @item.subjects.genres.empty? -%>
                <tr>
                    <th><%= t(:genres).capitalize %></th>
                    <td><%= @item.subjects.genres.map { |g| g.name }.join(", ") %></td>
                </tr>
                <% end -%>
                <% unless @item.comps.empty? %>
                <tr>
                    <th><%= t(:see_also) %></th>
                    <td>
                    <ul>
                        <% @item.comps.each do |comp| -%>
                        <li>
                            <%= link_to comp.comp.title, archive_detail_path(comp.comp_id) %>
                        </li>
                        <% end -%>
                    </ul>
                    </td>
                </tr>
                <% end %>
            </table>
            <% unless @item.clips.empty? %>
            <% clip = @item.clips[0] -%>
            <% @extra_head_content = archive_audio_head(clip.clip_url('mp3'), clip.clip_url('wav')) -%>
            <%= raw css_audio_player(clip.title) %>
            <% end %>
        </div>
    </div>
</div> <!-- end browser --><!-- end featured -->