<% @page_description = t(:genres_description) -%>
<% @page_title = t(:archive).capitalize + " | " + t(:genres_index).capitalize -%>

<div class="clearfix" id="fullIndex">
    <div id="indexList">
        <div class="otherIndexes">
            <a href="<%= archive_people_path %>">&raquo; <%= t(:people_index) %></a>
            <a href="<%= archive_places_path %>">&raquo; <%= t(:place_index) %></a>
            <a href="<%= archive_subjects_path %>">&raquo; <%= t(:subject_index) %></a>
            <a class="redButton" href="<%= @return_url %>" style="color:#fff"><%= t(:back_to_archive) %></a>
        </div>
        <h2><%= t(:genres_index).titleize %></h2>
        <ul class="alphabet">
            <% @alphabet.each do |letter| -%>
            <li>
                <% if letter.length > 1 -%>
                <%= link_to letter, archive_genres_path(:filter_letter => letter), :class => @filter_letter == letter ? 'selected' : " " %>
                <% else -%>
                <%= link_to_if @valid_initials.include?(letter) || letter.length > 1, letter, archive_genres_path(:filter_letter => letter), :class => @filter_letter == letter ? 'selected' : " " %>
                <% end -%>
            </li>
            <% end -%>
        </ul>
        <% @rows = (@genres.length / 3).ceil -%>
        <% @counter = 0 -%>
        <ul class="subjects_list col3">
            <% @genres.each do | genre | -%>
            <% if @counter > @rows  -%>
        </ul>
        <ul class="subjects_list col3">
            <% @counter = 0 -%>
            <% end -%>
            <%= render :partial => 'genre', :locals => {:genre => genre} %>
            <% end -%>
        </ul>
    </div>
</div>