<% @page_description = t(:archive_description) -%>
<% @page_title = t(:archive).capitalize -%>

<% content_for :head do %>
<%= render 'head_index_content' %>
<% end %>

<div id="browseBar" style="height:auto">
    <div id="head">
        <%= link_to t(:see_all_items), archive_browser_path, :class => "blackButton right" %><h2><%= t(:browse).capitalize %></h2>
    </div>
    
    <%= render "genre_list" %>
    
    <%= render "collection_list" %>
    
    <h3><a href="#">People</a></h3>
    <div class="list">
        <ul>
            <li>
                <a href="#">Item 1</a> <span>(13)</span>
            </li>
            <li>
                <a href="#">Item 2</a> <span>(8)</span>
            </li>
            <li>
                <a href="#">Item 3 </a>  <span>(18)</span>
            </li>
        </ul>
        <ul class="more">
            <li>
                <a href="#">Item 4</a> <span>(18)</span>
            </li>
            <li>
                <a href="#">Item 5</a> <span>(18)</span>
            </li>
        </ul>
        <a class="moreLink" href="/#">see more</a>
    </div>
    <h3><a href="#">Places</a></h3>
    <div class="list">
        <ul>
            <li>
                <a href="#">Item 1</a> <span>(13)</span>
            </li>
            <li>
                <a href="#">Item 2</a> <span>(8)</span>
            </li>
            <li>
                <a href="#">Item 3 </a>  <span>(18)</span>
            </li>
        </ul>
        <ul class="more">
            <li>
                <a href="#">Item 4</a> <span>(18)</span>
            </li>
            <li>
                <a href="#">Item 5</a> <span>(18)</span>
            </li>
        </ul>
        <a class="moreLink" href="/#">see more</a>
    </div>
    <h3><a href="#">Subjects</a></h3>
    <div class="list">
        <ul>
            <li>
                <a href="#">Item 1</a> <span>(13)</span>
            </li>
            <li>
                <a href="#">Item 2</a> <span>(8)</span>
            </li>
            <li>
                <a href="#">Item 3 </a>  <span>(18)</span>
            </li>
        </ul>
        <ul class="more">
            <li>
                <a href="#">Item 4</a> <span>(18)</span>
            </li>
            <li>
                <a href="#">Item 5</a> <span>(18)</span>
            </li>
        </ul>
        <a class="moreLink" href="/#">see more</a>
    </div>
    <h3 class="last"><a href="#">Time Periods</a></h3>
    <div class="list">
        <ul>
            <li>
                <a href="#">Item 1</a> <span>(13)</span>
            </li>
            <li>
                <a href="#">Item 2</a> <span>(8)</span>
            </li>
            <li>
                <a href="#">Item 3 </a>  <span>(18)</span>
            </li>
        </ul>
        <ul class="more">
            <li>
                <a href="#">Item 4</a> <span>(18)</span>
            </li>
            <li>
                <a href="#">Item 5</a> <span>(18)</span>
            </li>
        </ul>
        <a class="moreLink" href="/#">see more</a>
    </div>
</div><!-- end browseBar -->
<div class="clearfix archiveBigWrapper" >
    <div id="archive_search_wrapper">
        <span class="right"><a href="#">Advanced Search</a></span>
        <h2> Search</h2>
        <div class="clearfix" id="simple_search">
            <form method="get" class="searchform" action="/archive/browser">
                <input type="text" value="Enter a keyword" name="keyword_filter" class="swap_value" id="s" style="color:#aaa;"
                onfocus="if(this.value=='Enter a keyword'){this.value='';this.style.color = '#000';}"
                onblur="if(this.value==''){this.value='Enter a keyword';this.style.color = '#aaa';}" />
                <button type="submit" id="search">
                </button>
            </form>
        </div>
        <span class="examples"> Examples: "dowry", or "legal AND marriage" </span>
    </div>
    <div id="archive_index_wrapper">
        <h2> Indices</h2>
        <ul>
            <li>
                <a href="#">Genre</a>
            </li>
            <li>
                <a href="#">People</a>
            </li>
            <li>
                <a href="#">Place</a>
            </li>
            <li>
                <a href="#">Subject</a>
            </li>
        </ul>
    </div>
    <div id="archive_welcome">
        <h2>Popular Searches</h2>
        <div id="highlightedLinks">
            <div class="thumb">
                <a href="#">
                <img src="../images/thumb_manuscript.png" /><span> Manuscripts and Lithos </span></a>
            </div>
            <div class="thumb">
                <a href="#">
                <img src="../images/thumb_objects.png" /><span> Objects </span></a>
            </div>
            <div class="thumb">
                <a href="#">
                <img src="../images/thumb_legal.png" /><span>  Legal and Financial </span></a>
            </div>
            <div class="thumb right-0">
                <a href="#">
                <img src="../images/thumb_photos.png" /><span> Images </span></a>
            </div>
            <div class="thumb">
                <a href="#">
                <img src="../images/thumb_letters.png" /><span> Letters </span></a>
            </div>
            <div class="thumb">
                <a href="#">
                <img src="../images/thumb_oral_history.png" /><span> Sound Recordings </span></a>
            </div>
            <div class="thumb">
                <a href="#">
                <img src="../images/thumb_translations.png" /><span> Translations </span></a>
            </div>
            <div class="thumb right-0">
                <a href="#">
                <img src="../images/thumb_recent.png" /><span> Recent Additions </span></a>
            </div>
        </div>
    </div>
</div>
