<% @page_description = t(:archive_description) -%>
<% @page_title = t(:archive).capitalize -%>
<% @extra_head_content = index_header_content -%>

<div id="featured" style="height:auto">
       	<div id="head"> 
           	<h2><%= t(:genres) %></h2>
        </div>
       	<div id="mediaTypes" class="clearfix">
			    <% first_column = true %>
					<% @subject_types.each do |subject_type| %>
						<% unless subject_type.id > 6 %>
						  <div class="column">	
		            <a href="<%= "/archive/browser/subject_type_filter/#{subject_type.id}" %>"><img src="images/icon_big_subject_type_<%= subject_type.id.to_s %>.png" alt="subject_type.name" /><%= subject_type.name %> <% if subject_type.show_menu? -%><img src="images/downArrow.gif" /><% end -%></a>
								<% if subject_type.show_menu? %>
									<ul style="<%= raw archive_column_style if first_column %>">
										<% first_column = false -%>
										<% subject_type.subjects.each do |subject| -%>
		                 		<li><%= link_to subject.name, :action => :browser, :subject_filter => subject.id %></li>
										<% end -%>
									</ul>	
								<% end -%>	

							<% end %>
						</div>
					<% end -%>	
       </div><!-- end featured -->
			 <div id="keywordSearch">
           <div class="head clearfix">
           	<div id="big_search" class="clearfix">
                   <form action="/archive/browser" class="searchform" method="get">
                   <input type="text" value="<%= t(:search_prompt) %>" name="keyword_filter" class="swap_value" id="s" style="color:#aaa;" 
													onfocus="if(this.value=='<%= t(:search_prompt) %>'){this.value='';this.style.color = '#000';}" 
								      		onblur="if(this.value==''){this.value='<%= t(:search_prompt) %>';this.style.color = '#aaa';}" />
                   <button type="submit" id="search"></button>
                   </form>
           	</div>
					</div>
					<div class="content clearfix">
              <%= link_to raw(t(:browse_the_archive)), :action => 'browser' %>
              <%= link_to raw(t(:advanced_search)), :action => 'browser' %>
          </div>
       </div>
       
   			<div class="boxed clearfix" style="margin-top:15px;">
               <div class="section clearfix" style="padding:0 10px; width:280px">
                   <div class="collectionsBox clearfix">
                   <a href="#"><h4><%= t(:collections).capitalize %></h4></a>
									 <a class="allCollections" href="/archive/browser/collections_index"><%= t(:see_all_collections) %></a>
									 <div class="featuredCollection clearfix">
	                   <h6><%= t(:featured_collections) %></h6>
	                   <a class="prev" href="#"><%= t(:previous) %></a><a class="next" href="#"><%= t(:next) %></a>
	                   <div class="collectionContainerWrapper">
	                     <div class="collectionContainer clearfix">
											 <% @random_collection_set.each do |collection| -%>
	                         <div class="collection">
                             <a href="#"><img alt="<%= collection.items[0].title %>" src="<%= collection.items[0].thumbnail_url %>"/></a>
                             <ul>
                               <li><strong><%= link_to truncate(collection.name, :length => 30), :action => :browser, :collection_filter => collection %></strong></li>
                               <li>&raquo; <%= link_to( (collection.item_count_string + ' ' + t(:items) if collection), :action => :browser, :collection_filter => collection) %></li> 
                             </ul>
	                         </div>
												<% end -%>
	                     </div>
	                   </div>
	                </div>
               </div>
						</div>
						<div class="section" style="width:100px">
							 <h4><%= t(:indexes).capitalize %></h4>
							 <ul>
							     <li><a href="#"><%= raw t(:people_index) %></a></li>
							     <li><a href="#"><%= raw t(:subject_index) %></a></li>
							     <li><a href="#"><%= raw t(:place_index) %></a></li>
							 </ul>
           </div>
           <div class="section" style="width:220px">
           	<h4><%= t(:recently_viewed_items) %></h4>
               <div class="items">
									<% @recently_viewed_items.each do |item| -%>
                   <div class="item">
                       <%= link_to( image_tag(item.thumbnail_url, :alt => item.title ), :action => :detail, :id => item, :title => item.title ) %>
                   </div>
									<% end %>
                </div>
           </div>
           <div class="section" style="width:150px">
	           <h4><%= t(:quick_peek) %></h4>
	           <ul>
	             <li><%= link_to(raw(t(:recent_additions)), :action => :browser, :recent_additions_filter => true) %></a></li>
	             <li><%= link_to(raw(t(:most_popular_items)), :action => :browser, :most_popular_filter => true) %></li>
	             <li><%= link_to(raw(t(:collection_highlights)), :action => :browser, :staff_favorites_filter => true) %></li>
	            </ul>
           </div>
           <div class="section time" >
						<h4><%= t(:time_periods) %></h4>
           	<div id="timeLine">
               	<a class="first" href="/archive/browser/period_filter/<%= @periods[0].id %>" title="<%= @periods[0].title + ' (' + @periods[0].items_count.to_s + ')' %>"><%= @periods[0].caption %></a>
                <a class="second" href="/archive/browser/period_filter/<%= @periods[1].id %>" title="<%= @periods[1].title + ' (' + @periods[1].items_count.to_s + ')' %>"><span><%= @periods[1].caption %></span></a>
                <a class="third" href="/archive/browser/period_filter/<%= @periods[2].id %>" title="<%= @periods[2].title + ' (' + @periods[2].items_count.to_s + ')' %>"><%= @periods[2].caption %></a>
                <a class="fourth" href="/archive/browser/period_filter/<%= @periods[3].id %>" title="<%= @periods[3].title + ' (' + @periods[3].items_count.to_s + ')' %>"><span><%= @periods[3].caption %></span></a>
                <a class="fifth" href="/archive/browser/period_filter/<%= @periods[4].id %>" title="<%= @periods[4].title + ' (' + @periods[4].items_count.to_s + ')' %>"><%= @periods[4].caption %></a>
                <a class="sixth" href="/archive/browser/period_filter/<%= @periods[5].id %>" title="<%= @periods[5].title + ' (' + @periods[5].items_count.to_s + ')' %>"><%= @periods[5].caption %></a>
                <a class="seventh" href="/archive/browser/period_filter/<%= @periods[6].id %>" title="<%= @periods[6].title + ' (' + @periods[6].items_count.to_s + ')' %>"><span style="left:-50px"><%= @periods[6].caption %></span></a>
                <a class="eighth" href="/archive/browser/period_filter/<%= @periods[7].id %>" title="<%= @periods[7].title + ' (' + @periods[7].items_count.to_s + ')' %>"><%= @periods[7].caption %></a>
                <a class="ninth" href="/archive/browser/period_filter/<%= @periods[8].id %>" title="<%= @periods[8].title + ' (' + @periods[8].items_count.to_s + ')' %>"><%= @periods[8].caption %></a>
               </div>
           </div>
           
       </div> <!-- end browser --><!-- end featured -->

