<% @page_description = t(:archive_description) -%>
<% @page_title = t(:archive).capitalize -%>

<% content_for :head do %>
<%= render 'head_index_content' %>
<% end %>

<div id="browseBar" style="height:auto">
    <div id="head">
        <%= link_to t(:see_all_items), archive_browser_path, :class => "blackButton right" %><h2><%= t(:browse).capitalize %></h2>
    </div>
    
    <%= render "my_archive_list" unless @my_archive_ids.empty? %> 
    
    <%= render "genre_list" %>

    <%= render "collection_list" %>

    <%= render "person_list" %>

    <%= render "place_list" %>

    <%= render "subject_list" %>

    <%= render "period_list" %>

</div><!-- end browseBar -->
<div class="clearfix archiveBigWrapper" >

    <%= render "simple_search" %>
    
    <%= render "index_list" %>
    
    <div id="archive_welcome">
        <h2><%= t(:popular_searches) %></h2>
        <div id="highlightedLinks">
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 208) %>">
                <img src="../images/thumb_manuscript.png" /><span><%= @genres.find(208).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 231) %>">
                <img src="../images/thumb_objects.png" /><span><%= @genres.find(231).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 581) %>">
                <img src="../images/thumb_legal.png" /><span><%= @genres.find(581).name.titleize %></span></a>
            </div>
            <div class="thumb right-0">
                <a href="<%= archive_browser_path(:subject_filter => 229) %>">
                <img src="../images/thumb_photos.png" /><span> <%= @genres.find(229).name.titleize %> </span></a>
            </div>
            <div class="thumb">

                <a href="<%= archive_browser_path(:subject_filter => 207) %>">
                <img src="../images/thumb_letters.png" /><span><%= @genres.find(207).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 232) %>">
                <img src="../images/thumb_oral_history.png" /><span><%= @genres.find(232).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:translation_filter => true) %>">
                <img src="../images/thumb_translations.png" /><span><%= t(:translations).capitalize %></span></a>
            </div>
            <div class="thumb right-0">
                <a href="<%= archive_browser_path(:recent_additions_filter => true) %>">
                <img src="../images/thumb_recent.png" /><span><%= t(:recent_additions) %></span></a>
            </div>
        </div>
    </div>
</div>
