<% @page_description = t(:archive_description) -%>
<% @page_title = t(:archive).capitalize -%>

<% content_for :head do %>
<%= render 'head_index_content' %>
<% end %>

<div id="browseBar" style="height:auto">
    <div id="head">
        <%= link_to t(:see_all_items), archive_browser_path, :class => "blackButton right" %><h2><%= t(:browse).capitalize %></h2>
    </div>
    <%= render "genre_list" %>

    <%= render "collection_list" %>

    <%= render "person_list" %>

    <%= render "place_list" %>

    <%= render "subject_list" %>

    <%= render "period_list" %>

</div><!-- end browseBar -->
<div class="clearfix archiveBigWrapper" >
    <div id="archive_search_wrapper">
        <span class="right"><%= link_to t(:advanced_search).titleize, archive_advanced_search_path %></span>
        <h2><%= t(:search).titleize %></h2>
        <div class="clearfix" id="simple_search">
            <form method="get" class="searchform" action="/archive/browser">
                <input type="text" value="<%= t(:search_prompt) %>" name="keyword_filter" class="swap_value" id="s" style="color:#aaa;"
                onfocus="if(this.value=='<%= t(:search_prompt) %>'){this.value='';this.style.color = '#000';}"
                onblur="if(this.value==''){this.value='<%= t(:search_prompt) %>';this.style.color = '#aaa';}" />
                <button type="submit" id="search" />
            </form>
        </div>
        <span class="examples"><%= t(:search_examples) %></span>
    </div>
    <div id="archive_index_wrapper">
        <h2><%= t(:indexes).titleize %></h2>
        <ul>
            <li>
                <%= link_to t(:genre).titleize, archive_genres_path %>
            </li>
            <li>
                <%= link_to t(:people).titleize, archive_people_path %>
            </li>
            <li>
                <%= link_to t(:place).titleize, archive_places_path %>
            </li>
            <li>
                <%= link_to t(:subject).titleize, archive_subjects_path %>
            </li>
        </ul>
    </div>
    <div id="archive_welcome">
        <h2><%= t(:popular_searches) %></h2>
        <div id="highlightedLinks">
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 208) %>">
                <img src="../images/thumb_manuscript.png" /><span><%= @genres.find(208).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 231) %>">
                <img src="../images/thumb_objects.png" /><span><%= @genres.find(231).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 581) %>">
                <img src="../images/thumb_legal.png" /><span><%= @genres.find(581).name.titleize %></span></a>
            </div>
            <div class="thumb right-0">
                <a href="<%= archive_browser_path(:subject_filter => 229) %>">
                <img src="../images/thumb_photos.png" /><span> <%= @genres.find(229).name.titleize %> </span></a>
            </div>
            <div class="thumb">

                <a href="<%= archive_browser_path(:subject_filter => 207) %>">
                <img src="../images/thumb_letters.png" /><span><%= @genres.find(207).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:subject_filter => 232) %>">
                <img src="../images/thumb_oral_history.png" /><span><%= @genres.find(232).name.titleize %></span></a>
            </div>
            <div class="thumb">
                <a href="<%= archive_browser_path(:translation_filter => true) %>">
                <img src="../images/thumb_translations.png" /><span><%= t(:translations).capitalize %></span></a>
            </div>
            <div class="thumb right-0">
                <a href="<%= archive_browser_path(:recent_additions_filter => true) %>">
                <img src="../images/thumb_recent.png" /><span><%= t(:recent_additions) %></span></a>
            </div>
        </div>
    </div>
</div>
