<% @page_description = t(:places_description) -%>
<% @page_title = t(:archive).capitalize + " | " + t(:place_index).capitalize -%>

<div class="clearfix" id="fullIndex">
    <div id="indexList">
        <div class="otherIndexes">
            <a href="<%= archive_collections_path %>">&raquo; <%= t(:collections_index) %></a>
            <a href="<%= archive_genres_path %>">&raquo; <%= t(:genres_index) %></a>
            <a href="<%= archive_people_path %>">&raquo; <%= t(:people_index) %></a>
            <a href="<%= archive_subjects_path %>">&raquo; <%= t(:subjects_index) %></a>
            <a class="redButton" href="<%= @return_url %>" style="color:#fff"><%= t(:back_to_archive) %></a>
        </div>
        <h2><%= t(:place_index).titleize %></h2>
        <ul class="alphabet">
            <% @alphabet.each do |letter| -%>
            <li>
                <% if letter.length > 1 -%>
                  <%= link_to letter, archive_places_path, :class => @filter_letter == letter ? 'selected' : " " %>
                <% else -%>
                  <%= link_to_if @valid_initials.include?(letter) || letter.length > 1, letter, archive_places_path(:filter_letter => letter), :class => @filter_letter == letter ? 'selected' : " " %>
                <% end -%>
            </li>
            <% end -%>
        </ul>
        <% @rows = (@places.length / 3).ceil -%>
        <% @counter = 0 -%>
        <ul class="subjects_list col3">
            <% @places.each do | place | -%>
            <% if @counter > @rows  -%>
        </ul>
        <ul class="subjects_list col3">
            <% @counter = 0 -%>
            <% end -%>
            <%= render :partial => 'place', :locals => {:place => place} %>
            <% end -%>
        </ul>
    </div>
</div>





