<% @page_description = t(:subjects_description) -%>
<% @page_title = t(:archive).capitalize + " | " + t(:subject_index).capitalize -%>

<div class="clearfix" id="fullIndex">
    <div id="indexList">
        <div class="otherIndexes">
            <a href="<%= archive_genres_path %>">&raquo; <%= t(:genres_index) %></a>
            <a href="<%= archive_people_path %>">&raquo; <%= t(:people_index) %></a>
            <a href="<%= archive_places_path %>">&raquo; <%= t(:place_index) %></a>
            <a class="redButton" href="<%= @return_url %>" style="color:#fff"><%= t(:back_to_archive) %></a>
        </div>
        <h2><%= t(:subject_index).titleize %></h2>
        <ul class="alphabet">
            <% @alphabet.each do |letter| -%>
            <li>
                <%= link_to_unless @valid_initials.include?(letter), letter, archive_subjects_path(:filter_letter => letter), :class => @filter_letter == letter ? 'selected' : " " %>
            </li>
            <% end -%>
        </ul>
        <% @rows = (@subjects.length / 3).ceil -%>
        <% @counter = 0 -%>
        <ul class="subjects_list col3">
            <% @subjects.each do | subject | -%>
            <% if @counter > @rows  -%>
        </ul>
        <ul class="subjects_list col3">
            <% @counter = 0 -%>
            <% end -%>
            <%= render :partial => 'subject', :locals => {:subject => subject} %>
            <% end -%>
        </ul>
    </div>
</div>

