<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= t(:site_title) -%> | <%= @page_title || controller.controller_name.capitalize %></title>
    <% unless @page_description.nil? && @page_title.nil? -%><meta name="description" content="<%= @page_description || @page_title %>" /><% end -%>

    <!-- load the common styles to all pages -->
    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style<%= language_suffix -%>.css" media="screen" />

    <!-- load the common scripts -->
    <script type="application/javascript" language="javascript" src="/javascripts/jquery-1.4.min.js" />
    <script type="text/javascript" src="/javascripts/jquery.qtip-1.0.0-rc3.min.js" />

    <!-- load styles conditionally based on the controller name -->
    <% if controller.controller_name == 'exhibits' -%>
      <link rel="stylesheet" type="text/css" href="/stylesheets/facebox<%= language_suffix -%>.css" media="screen" />
      <script type="text/javascript" src="/javascripts/facebox.js" />
      <script language="javascript" type="application/javascript">
        $(document).ready(function(){

          $('a[title]').qtip({
            style: {
              name: 'dark',
              tip: true,
              border: {
                radius: 8
              }
            },
            position: {
              corner: {
                target: 'topMiddle',
                tooltip: 'bottomMiddle'
              }
            }
          });

        });
      </script>
    <% elsif controller.controller_name == 'home' -%>
      <script type="text/javascript" src="/javascripts/jquery.cycle.all.2.72.js"></script>
      <%= raw which_script? -%>
    <% end %>

  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1><a href="/"><span><%=h t(:site_title) -%></span></a></h1>
        <div id="tools">
          <div id="search">
            <form action="" class="searchform" method="get">
              <input type="text" value="" name="s" class="swap_value" id="s"/>
              <button type="submit"></button>
            </form>
          </div>
          <ul>
            <li><%= link_to(t(:contact),contact_path) %></li>
            <li><%= link_to(t(:faq),faq_path) %></li>
          </ul>
        </div>
        <div id="nav">
          <a class="lang" href="<%=language_url-%>"><%= t(:language_option) -%></a>
          <ul class="sortnav">
            <li<% if controller.controller_name == 'home' -%> class="active"<% end -%>> <%= link_to(t(:home), home_path, { :class=>"module-link" }) %></li>
            <li<% if controller.controller_name == 'collections' -%> class="active"<% end -%>> <%= link_to(t(:collections), collections_path, { :class=>"module-link" }) %></li>
            <li<% if controller.controller_name == 'exhibits' -%> class="active"<% end -%>> <%= link_to(t(:exhibits), exhibits_path, { :class=>"module-link" }) %></li>
          </ul>
        </div>
      </div> <!-- end container -->
    </div> <!-- end header -->
    <div id="content" class="clearfix">
      <div class="container clearfix">

        <% if flash[:notice] -%><div class="notice"><%= flash[:notice] %></div><% end -%>
        <% if flash[:error] -%><div class="error"><%= flash[:error] %></div><% end -%>
        <%= yield :layout %>

      </div> <!-- end container -->
    </div><!-- end content -->
    <div id="pageFooterWrapper">
      <div id="pageFooter">
        <div class="columnWrapperFooter group">
          <div class="leftWrapperFooter">
            <ul class="footerNav">
              <li><%= link_to(t(:about),about_path) %></li>
              <li><%= link_to(t(:credits), credits_path) %></li>
              <li><%= link_to(t(:permissions),permissions_path) %></li>
            </ul>
            <p>Copyright © 2010  WWQI. All rights reserved.</p>
          </div><!-- closes leftWrapperFooter -->
          <div class="rightWrapperFooter">
            <a class="noimage" href="http://www.harvard.edu" target="_blank"><img alt="Harvard Logo"  src="/images/harvard.gif"/></a>
            <ul class="footerNav">
              <li><a href="http://discovery.lib.harvard.edu/" target="_blank">HOLLIS Catalog</a></li>
              <li><a href="http://www.fas.harvard.edu/~iohp/" target="_blank">Iranian Oral History Project</a></li>
              <li><a href="http://via.lib.harvard.edu/via/deliver/advancedsearch?_collection=via" target="_blank">VIA Visual Resources</a></li>
              <li><a href="http://ocp.hul.harvard.edu/ihp/" target="_blank">Islamic Heritage Project</a></li>
              <li><a href="http://oasis.lib.harvard.edu/oasis/deliver/advancedsearch?_collection=oasis" target="_blank">OASIS Archival Finding Aids</a></li>
              <li><a href="http://pds.lib.harvard.edu/pds/view/6665026?n=1&imagesize=1200&jp2Res=.125" target="_blank">Ali Khan Album</a></li>
            </ul>
          </div><!-- closes rightWrapperFooter -->
        </div><!-- closes columnWrapperFooter group -->


      </div>
    </div>

    <%= raw google_analytics_block -%>

  </body>
</html>
