<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%=h t(:site_title) -%> | <%= h(@page_title) || controller.controller_name.capitalize %></title>
    <% unless @page_description.nil? -%><meta name="description" content="<%=h @page_description || @page_title %>" /><% end -%>

    <link rel="shortcut icon" href="/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style<%=h(language_suffix)%>.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/facebox<%=h(language_suffix)%>.css" media="screen" />

    <script type="application/javascript" language="javascript" src="/javascripts/jquery-1.4.min.js" />
    <script type="text/javascript" src="/javascripts/jquery.qtip-1.0.0-rc3.min.js" />
    <script type="text/javascript" src="/javascripts/facebox.js" />

    <%= raw which_script? -%>

  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1><a href="/"><span><%=h t(:site_title) -%></span></a></h1>
        <div id="tools">
          <div id="search">
            <form action="" class="searchform" method="get">
              <input type="text" value="" name="s" class="swap_value" id="s"/>
              <button type="submit"></button>
            </form>
          </div>
        </div>
        <div id="nav">
          <a class="lang" href="<%=language_url-%>"><%= t(:language_option) -%></a>
          <ul class="sortnav">
            <li<% if controller.controller_name == 'home' -%> class="active"<% end -%>> <%= link_to(t(:home), home_path, { :class=>"module-link" }) %></li>
            <li<% if controller.controller_name == 'archive' -%> class="active"<% end -%>> <%= link_to(t(:archive), archive_path, { :class=>"module-link" }) %></li>
            <li<% if controller.controller_name == 'exhibits' -%> class="active"<% end -%>> <%= link_to(t(:exhibits),exhibits_path, { :class=>"module-link" }) %></li>
          </ul>
        </div>
      </div> <!-- end container -->
    </div> <!-- end header -->
    <div id="content" class="clearfix">
      <div class="container clearfix">

        <% if flash[:notice] -%><div class="notice"><%= flash[:notice] %></div><% end -%>
        <% if flash[:error] -%><div class="error"><%= flash[:error] %></div><% end -%>
        <%= yield :layout %>

      </div> <!-- end container -->
    </div><!-- end content -->
    <div id="pageFooterWrapper">
      <div id="pageFooter">
        <div class="columnWrapperFooter group">
          <div class="leftWrapperFooter"><!-- closes colOneFooter -->
            <div class="colTwoFooter">
              <h5><%=t(:wwqi) -%></h5>
              <ul class="footerNav">
                <li><%= link_to(t(:about),about_path) %></li>
                <li><%= link_to(t(:donate_materials),donate_materials_path) %></li>
                <li><%= link_to(t(:contact),contact_path) %></li>
                <li><%= link_to(t(:news),news_path) %></li>
                <li><%= link_to(t(:permissions),permissions_path) %></li>
                <li><%= link_to(t(:sponsors),sponsors_path) %></li>
                <li><%= link_to(t(:help),help_path) %></li>
              </ul>

            </div><!-- closes colTwoFooter -->
            <div class="colThreeFooter">
            </div><!-- closes colThreeFooter -->

            <div class="colFourFooter">
              <h5><%=t(:also_at_harvard) -%></h5>
              <ul class="footerNav">
                <li><a href="http://discovery.lib.harvard.edu/" target="_blank">HOLLIS Catalog</a></li>
                <li><a href="http://oasis.lib.harvard.edu/oasis/deliver/advancedsearch?_collection=oasis"  target="_blank">OASIS - Archival Finding Aids</a></li>
                <li><a href="http://via.lib.harvard.edu/via/deliver/advancedsearch?_collection=via"  target="_blank">VIA - Visual Resources</a></li>
                <li><a href="http://www.fas.harvard.edu/~iohp/"  target="_blank">Iranian Oral History Project</a></li>
                <li><a href="http://ocp.hul.harvard.edu/ihp/" target="_blank">Islamic Heritage Project</a></li>
                <li><a href="http://pds.lib.harvard.edu/pds/view/6665026?n=1&imagesize=1200&jp2Res=.125"  target="_blank">Ali Khan Album</a></li>
              </ul>
            </div><!-- closes colFourFooter -->
          </div><!-- closes leftWrapperFooter -->
          <div class="rightWrapperFooter">
            <style>
              .colFiveFooter .full-image-float-left { padding: 3px !important; margin: 3px !important; }
            </style>
            <div class="colOneFooter">
              <a href="/contact/"><img src="/images/harvard.gif"/></a>
              <p>&nbsp;</p>
            </div><!-- closes colFiveFooter -->
          </div><!-- closes rightWrapperFooter -->
        </div><!-- closes columnWrapperFooter group -->


      </div>
    </div>
    
    <%= raw google_analytics_block -%>

  </body>
</html>
