<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head><meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <%= csrf_meta_tag %>
        <title><%= t(:site_title) %></title>
        <%= stylesheet_link_tag('/stylesheets/pdf.css') -%>
        <%= stylesheet_link_tag('/stylesheets/pdf_fa.css') if I18n.locale == :fa -%>
        <%= yield :head %>
    </head>
    <body>
        <div id="header">
            <div id="cover_project_title">
			  	<img src="http://www.qajarwomen.org/images/cover_page_logo.png" width="200">
            </div>
        </div>
        <div id="content">
            <%= yield %>
        </div>
    </body>
</html>
