<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
    <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <%= csrf_meta_tag %>
        <title><%= t(:site_title) %></title>
        <%=  params[:debug].present? ? stylesheet_link_tag('pdf') : wicked_pdf_stylesheet_link_tag("pdf") -%>
        <%=  params[:debug].present? ? javascript_include_tag('number_pages') : wicked_pdf_javascript_include_tag("number_pages") %>
        <%= yield :head %>
    </head>
    <body onload='number_pages'>
        <div id="header">
            <%= params[:debug].present? ? image_tag('/images/logo.png') : wicked_pdf_image_tag('images/logo.png') %>
        </div>
        <div id="content">
            <%= yield %>
        </div>
    </body>
</html>
